<!DOCTYPE html>
<html lang="en">
<head>
    {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article">
{{> header}}
{{> body}}
<script>
    /* Make sure TOC carets are expanded if sub-elements exist */
    $("#toc").each(function(i,v) {
      $(this).closest('article').addClass('with-toc');
    });

    $("#toc ul.sectlevel1 > li").each(function(i,v) {
      $(this).has("ul").addClass("expanded");
    });

    $(function() {
        /* Expands all the documentation submenus */
        $(".nav-list > .nav-item:not(.is-active) .nav-item-toggle").click();
    });
</script>
{{> footer}}
</body>
</html>