---
layout: doc
title: Connectors
title_link: /docs/connectors
---

%p
  Debezium's goal is to build up a library of connectors that capture changes from a variety of DBMSes and produce events with very similar structures, making it far easier for your applications to consume and respond to the events regardless of where the changes originated. We currently have the following connector either completed or planned:
  %ul
    %li
      %a{:href => "/docs/connectors/mysql/", :title => "MySQL Connector"} MySQL Connector
    %li
      %a{:href => "/docs/connectors/mongodb/", :title => "MongoDB Connector"} MongoDB Connector
    %li
      %a{:href => "/docs/connectors/postgresql/", :title => "PostgreSQL Connector"} PostgreSQL Connector
    %li
      %a{:href => "/docs/connectors/oracle/", :title => "Oracle Connector"} Oracle Connector
    %li
      %a{:href => "/docs/connectors/sqlserver/", :title => "SQL Server Connector"} SQL Server Connector
    %li
      %a{:href => "/docs/connectors/cassandra/", :title => "Cassandra Connector"} Cassandra Connector
