## Awestruct
_tmp
_site
_antora_cache
.sass-cache
.jekyll-cache
stylesheets/_config-variables.less
.awestruct

## OS related
*.DS_Store

## IDE
.settings
.project
.buildpath
.idea
*.iml

## Ruby and Rake tools
.rvmrc
.bundle
_bin
vendor
