---
layout: project
title: Debezium
---

#error-404
  %h1 Page Not Found
  %p
    Sorry, but the page you were trying to view does not exist.
  %br
  %br
  %p
    It looks like you have may found a broken link!
    %br
    Please report it mentioning which page you came from and which link you clicked on by filing a bug
    %a{:href => "https://issues.redhat.com/secure/CreateIssueDetails!init.jspa?pid=12317320&issuetype=1&priority=4"}
      here
    .%br
    %br
  %p
    You can also fix the problem yourself by sending a pull request to GitHub:
    %br
    %a{:href => "http://www.github.com/debezium/debezium.github.io", :target => "_blank"}
      github.com/debezium/debezium.github.io
