---
layout: project
title: 404 Error
---

.row
  .col-sm-7
    %img.img-responsive{:alt => "404 Error", :src => "http://static.jboss.org/example/images/404-error-graphic.png"}/
  #error-404.col-sm-5
    %h1 404
    %p
      Aha! You see! You can be wrong! <br>
      %span (or it could be us)... </br><br>
      \...either way, you should probably
    %a{:href => "#{site.base_url}/index.html"} go back to the homepage
    