---
layout: rightcol-downloads
title: Example Swatch
---


/ Carousel
#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Carousel items
  .carousel-inner
    .active.item
      %img{:alt => "", :src => "http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg"}/
    .item
      %img{:alt => "", :src => "http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg"}/
    .item
      %img{:alt => "", :src => "http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg"}/
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


/ Main hero unit for a primary marketing message or call to action
.row-fluid
  %h1 Project Name Downloads
  %p Latest Releaase 5.6.0
  %p<
    %a.btn.btn-primary.btn-large(href="swatch.html") View the Swatches &raquo;

  %hr

/ Example Content
