---
layout: hibernate
title: Hibernate
---

%p.lead.text-center.mantra Hibernate. Everything data.
.well.well-sm
  #myCarouselRow.row
    .col-md-9
      #myCarousel
        .carousel-inner
          .item.active
            %a{href: "http://in.relation.to/Bloggers/HibernateSearchWeekendReleasesFromBothMaintenanceBranches"} Hibernate Search: weekend releases from both maintenance branches
          .item
            %a{href: "http://in.relation.to/Bloggers/HibernateOGMRoadmapToFirstFinal"} Hibernate OGM: roadmap to first final
          .item
            %a{href: "http://in.relation.to/Bloggers/FreeCeylonConferenceInParis"} Free Ceylon conference in Paris
          .item
            %a{href: "http://in.relation.to/Bloggers/HibernateSearch441FinalReleasedFixingCompatibilityWithHibernateORM428"} Hibernate Search 4.4.1.Final released fixing compatibility with Hibernate ORM 4.2.8
          .item
            %a{href: "http://in.relation.to/Bloggers/HibernateORM430CR2Release"} Hibernate ORM 4.3.0.CR2 Release
    .col-md-2
      .pull-right
        %a{href: "http://in.relation.to/"} More news
#equalHeightsB.row.equalHero
  .col-md-4
    .well
      %h2 Hibernate ORM
      %p
        %i.icon-table.icon-3x.pull-left
        Domain model persistence for relational databases
      %p.center-icon
        %a.btn.btn-primary{href: "/leftcol-subproject.html"}
          More
          %i.icon-circle-arrow-right
  .col-md-4
    .well
      %h2 Hibernate Search
      %p
        %i.icon-search.icon-3x.pull-left
        Full-text search for your domain model
      %p.center-icon
        %a.btn.btn-primary{href: "/leftcol-subproject.html"}
          More
          %i.icon-circle-arrow-right
  .col-md-4
    .well
      %h2 Hibernate Validator
      %p
        %i.icon-check.icon-3x.pull-left
        Annotation based constraints for your domain model
      %p.center-icon
        %a.btn.btn-primary{href: "/leftcol-subproject.html"}
          More
          %i.icon-circle-arrow-right
#equalHeightsB.row.equalHero
  .col-md-4
    .well
      %h2 Hibernate OGM
      %p
        %i.icon-sitemap.icon-3x.pull-left
        Domain model persistence for NoSQL datastores
      %p.center-icon
        %a.btn.btn-primary{href: "/leftcol-subproject.html"}
          More
          %i.icon-circle-arrow-right
  .col-md-4
    .well
      %h2 Hibernate Tools
      %p
        %i.icon-wrench.icon-3x.pull-left
        Command line tools and IDE plugins for your Hibernate usages
      %p.center-icon
        %a.btn.btn-primary{href: "/leftcol-subproject.html"}
          More
          %i.icon-circle-arrow-right
  .col-md-4
    .well
      %h2 Others
      %p
        %i.icon-plus.icon-3x.pull-left
        We like the symmetry, everything else is here
      %p.center-icon
        %a.btn.btn-primary{href: "/leftcol-subproject.html"}
          Even more
          %i.icon-circle-arrow-right