---
layout: base
style: community
title: Bootstrap Themes
---

.hero-unit.pagination-centered
	%h1 Bootstrap Themes
	%p
		Hosted Bootstrap themes for the JBoss Community by the Visual Design Team.
	%p
		%a.btn.btn-primary.btn-large(href="getStarted.html") Get Started
	:markdown
		[Extend](extend.html) &nbsp;&nbsp;&nbsp; [GitHub Project](http://github.com/jbossorg/themes)
		
.row
	.span12
		%h1 Gallery

.row
	.span4
		.thumbnail
			%a(href="default/")<
				%img(data-src="holder.js/370x250/community" alt="Default")
			.caption
				%h3 Default
				%p The default Bootstrap theme.
				.btn-toolbar
					.btn-group<
						%a.btn.btn-large(href="#{site.base_url}/default/swatch.html") Preview
					.btn-group
						%a.btn.btn-large.btn-primary Links
						%a.btn.btn-large.btn-primary.dropdown-toggle(data-toggle="dropdown" href="#")
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(target="_blank" href="bootstrap.css") bootstrap.css
							%li<
								%a(target="_blank" href="bootstrap.min.css") bootstrap.min.css
							%li.divider
							%li<
								%a(target="_blank" href="bootstrap.js") bootstrap.js
							%li<
								%a(target="_blank" href="bootstrap.min.js") bootstrap.min.js

	.span4
		.thumbnail
			%a(href="community/")<
				%img(data-src="holder.js/370x250/community" alt="Community")
			.caption
				%h3 Community
				%p The JBoss Community theme.
				.btn-toolbar
					.btn-group<
						%a.btn.btn-large(href="#{site.base_url}/community/swatch.html") Preview
					.btn-group
						%a.btn.btn-large.btn-primary Links
						%a.btn.btn-large.btn-primary.dropdown-toggle(data-toggle="dropdown" href="#")
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(target="_blank" href="bootstrap-community.css") bootstrap-community.css
							%li<
								%a(target="_blank" href="bootstrap-community.min.css") bootstrap-community.min.css
							%li.divider
							%li<
								%a(target="_blank" href="bootstrap-community.js") bootstrap-community.js
							%li<
								%a(target="_blank" href="bootstrap-community.min.js") bootstrap-community.min.js
