---
layout: project
title: Example Homepage
---

/ Main hero unit for a primary marketing message or call to action
.jumbotron
  %h1 Debezium
  %h3 Stream changes from your databases.
  %p Debezium is an open source distributed platform for change data capture. Start it up, point it at your databases, and your apps can start responding to all of the inserts, updates, and deletes that other apps commit to your databases. Debezium is durable and fast, so your apps can respond quickly and never miss an event, even when things go wrong.
  %h3<
    %a.btn.btn-primary.btn-lg(href="/docs/tutorial")Try our tutorial

%br
%br
%br
%br
.row
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/clipboard.png"}/
  .col-md-6
    %h2 Do more with your data
    %p Your data is always changing.  yet its harder to keep all your data in sync. , and being able to respond  Imagine being able to react every time your data changed. You can with Debezium.  In fact, you get a continuous stream of eventsNo need to modify the apps that are changing the  continuously monitors your MySQL databases and lets your applications stream every row-level change in the same order they were committed to the database. Use the event streams to purge a cache, update search indexes, generate derived views and data, keep other data sources in sync, and much more. In fact, pull that functionality out of your app and into separate services. We're adding support for other database systems, too.
%br
%br
%br
%br
%br
.row
  .col-md-6
    %h2 Simplify your apps
    %p Debezium continuously monitors your MySQL databases and lets your applications stream every row-level change in the same order they were committed to the database. Use the event streams to purge a cache, update search indexes, generate derived views and data, keep other data sources in sync, and much more. In fact, pull that functionality out of your app and into separate services. We're adding support for other database systems, too.
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/clipboard.png"}/
%br
%br
%br
%br
%br
.row
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/clipboard.png"}/
  .col-md-6
    %h2 Streaming
    %p Debezium continuously monitors your MySQL databases and lets your applications stream every row-level change in the same order they were committed to the database. Use the event streams to purge a cache, update search indexes, generate derived views and data, keep other data sources in sync, and much more. In fact, pull that functionality out of your app and into separate services. We're adding support for other database systems, too.
%br
%br
%hr
%br
%br
.row
  .col-md-6
    %h2 Durable and consistent
    %p Everyone sees the every event in the same order they were made to the database. And Debezium makes sureNever miss a change in data, even when things go wrong. No matter what, Debezium keeps the events in the same order they were made to the database. And Debezium makes sure that you always see every event, even when things go wrong. Take your application down for maintenance,  multiple data stores in your application. Donec scelerisque, nulla eget scelerisque commodo, ipsum risus volutpat felis, faucibus sagittis ante ipsum ac tellus. Nunc sem lorem, scelerisque vitae gravida sed, porttitor sodales odio. Sed tincidunt adipiscing malesua. Etiam mi ultrices fringilla sapien quis, mollis sollicitudin felis. Maecenas id malesuada metus.
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/chat.png"}/
%br
%br
%hr
%br
%br
.row
  .col-md-6
    %h2 Durable
    %p Never miss a change in data. Take your apps and service down for maintenance, and Debezium keeps monitoring so that when your apps come back up they'll continue exactly where they left off. No matter what, Debezium keeps the events in the same order they were made to the database. And Debezium makes sure that you always see every event, even when things go wrong. Take your application down for maintenance,  multiple data stores in your application. Donec scelerisque, nulla eget scelerisque commodo, ipsum risus volutpat felis, faucibus sagittis ante ipsum ac tellus. Nunc sem lorem, scelerisque vitae gravida sed, porttitor sodales odio. Sed tincidunt adipiscing malesua. Etiam mi ultrices fringilla sapien quis, mollis sollicitudin felis. Maecenas id malesuada metus.
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/chat.png"}/
%br
%br
%hr
%br
%br
.row
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/clocks.png"}/
  .col-md-6
    %h3 Fast
    %p Donec scelerisque, nulla eget scelerisque commodo, ipsum risus volutpat felis, faucibus sagittis ante ipsum ac tellus. Nunc sem lorem, scelerisque vitae gravida sed, porttitor sodales odio. Sed tincidunt adipiscing malesua. Etiam mi ultrices fringilla sapien quis, mollis sollicitudin felis. Maecenas id malesuada metus.
%br
%br


/ Example row of columns
.row
  .col-md-4
    %h2 Your databases
    :markdown
      This theme is designed to layer on top of Bootstrap by using the standardized CSS classes and IDs so you can easily take advantage of all the great built in components of Bootstrap.
    %p<
      %a.btn.btn-default(href="http://twitter.github.io/bootstrap/components.html") Bootstrap Components &raquo;
  .col-md-4
    %h2 Never miss anything
    :markdown
      To give a better view of some of the look and feel changes, we've put together a swatch file containing various styled components and the Font Awesome icon replacement for quick viewing.
    %p<
      %a.btn.btn-default(href="#{site.base_url}/swatch.html") Go to the Swatches &raquo;
  .col-md-4
    %h2 The JBoss Badge
    :markdown
      Projects are now able to utilize this standard look and feel or create their own. We just ask that you keep unedited this badge on your home page to show that your project is a part of the JBoss Family.

