---
layout: project
title: Example Homepage
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---

%br
.col-md-9
  %h1
    :escaped
      Welcome!
  %h4.alert.alert-warning
    :escaped
      Before you get started here are the upstream project requirements for <project>.jboss.org
  If you're hosting your project at
  %strong
    :escaped
      http://<project>.jboss.org
  then you need to use the
  %a(title=@title href='https://github.com/jbossorg/bootstrap-community') bootstrap-community L&F
  , as shown on this page. This provides the following required elements which ensure your project has the necessary Red Hat branding and your project specific subdomain has a basic level of consistency with the rest of jboss.org:
  %h4 General
  %ul
    %li Red Hat dropdown tab at top of page
    %li Red Hat logo at bottom of page
  %h4 jboss.org specific
  %ul
    %li Project Banner with optional tagline
    %li Fixed width content area
    %li Background gradient
    %li
      :escaped
        Font Awesome for content

  Within this projects are encouraged to experiment with their own layouts and navigation to find what works best for them. See the Template Library for examples of what's possible.

.col-md-3.alert.alert-info
  %h3 Template Library
  If you'd like to see what's possible using our templates, take a look at the following examples:
  %br
  %br
  %ul
    %li
      %a(title=@title href='/project.html') Homepage
    %li
      %a(title=@title href='/hibernate.html') Group homepage
    %li
      %a(title=@title href='/subproject.html') Subproject homepage
    %li
      %a(title=@title href='/leftcol.html') Left column
    %li
      %a(title=@title href='/rightcol.html') Right column
    %li
      %a(title=@title href='/bothcol.html') 3 columns
%br
%br