---
layout: project
title: Example Homepage
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---

%br
%br
.row-fluid
  .span9
    %h1
      :escaped
        Welcome <project>!
    %h4.alert.alert-warning
      :escaped
        Before you get started, here are the upstream project requirements for <project>.jboss.org
    :escaped
        If you're looking to host your project at http://<project>.jboss.org then you need to use bootstrap-community L&F by default and add the following basic elements as shown on this page:
    %p
      %ul
        %li Fixed width content area
        %li Background gradient
        %li Project Banner with optional tagline
        %li Red Hat dropdown tab
        %li Red Hat logo at bottom of page
        %li
          :escaped
            The Font Awesome font for content, as used here.

    These ensure your project site has a basic level of visual consistency with the rest of the jboss.org site while allowing you to choose whatever layouts and navigation elements you like to create a project-specific feel.

  .span3.alert.alert-info
    %h3 Template Library
    If you would like to see what is possible using our templates, take a look at following examples:
    %br
    %br
    %ul
      %li
        %a(title=@title href='/project.html') Project homepage
      %li
        %a(title=@title href='/subproject.html') Subproject homepage
      %li
        %a(title=@title href='/hibernate.html') Hibernate-like homepage
      %li
        %a(title=@title href='/leftcol.html') Project page with left column
      %li
        %a(title=@title href='/rightcol.html') Project page with right column
      %li
        %a(title=@title href='/bothcol.html') Project page with three columns
%br
%br
%br