---
layout: leftcol
title: Example Left Column
---


/ Main hero unit for a primary marketing message or call to action
.jumbotron
  %h1 Project XYZ is Awesome!
  %p This is the basic template for the JBoss Community Bootstrap/Awestruct project sites. This is where you would put a marketing message.
  %p
    %a.btn.btn-success.b
      Get Started
    %a.btn.btn-default.b
      Download

/ Example row of columns
%h2
  %span Three Equal Columns
/ begin equalHeights columns 3
#equalHeightsA.row.equalHero

  .col-md-4
    %a{:href => "about.html"}
    %h3
      %a{:href => "about.html"} We're an industry leader.
    %p Public domain images. We will increase our aptitude to evolve without decrementing our capacity to leverage. It may seem marvelous, but it's true!
    .pull-right
      %a.btn.btn-primary{:href => "about.html"} Details →

  .col-md-4
    %a{:href => "about.html"}
    %h3
      %a{:href => "about.html"} Second header to show equality.
    %p If all of this seems stunning to you, that's because it is! The capability to strategize extensibly leads to the aptitude to upgrade compellingly.
    .pull-right
      %a.btn.btn-primary{:href => "about.html"} Details →

  .col-md-4
    %a{:href => "about.html"}
    %h3
      %a{:href => "about.html"} What do we incubate? We'll show you.
    %p A company that can implement correctly will (eventually) be able to architect correctly. If you generate intuitively, you may have to synergize robustly.
    .pull-right
      %a.btn.btn-primary{:href => "about.html"} Details →