---
layout: leftcol-jumbotron
title: Example Left-column Jumbotron
---


/ Floated right column
.col-md-4.well.pull-right
  %h2 Latest news
  #feed
    .news
      %h4 4.2.5.Final
      %small 2013-28-08
      %p
        Hibernate ORM 4.2.5.Final was just released, containing about a dozen bug fixes.  The vast majority of them were community ...
        %a{:href => "http://in.relation.to/Bloggers/425Final"} more
      %hr/
    .news
      %h4 Hibernate Metamodel Generator 1.3.0.Final
      %small 2013-09-08
      %p
        Guillaume pointed out recently on the hibernate-dev mailing list that is has been a very long time since the last release of ...
        %a{:href => "http://in.relation.to/Bloggers/HibernateMetamodelGenerator130Final"} more
      %hr/
    .news
      %h4 Bean Validation 1.1 Feature Spotlight - Method validation
      %small 2013-09-08
      %p
        With the release of Hibernate Validator 5.1.0.Alpha1 just out, it is time to pick up on the Bean Validation 1.1 spotlight ...
        %a{:href => "http://in.relation.to/Bloggers/BeanValidation11FeatureSpotlightMethodValidation"} more
      %hr/
  %a{:href => "http://in.relation.to/tag/Hibernate+Search"} Other news


/ Content
%h3 Another Headline
%p
  Ut malesuada posuere lobortis. Nullam eu placerat sem. Quisque ligula nisl, varius scelerisque dui pharetra, hendrerit imperdiet nulla. Praesent vulputate vehicula scelerisque. Ut id elit aliquet, ullamcorper nunc ultricies, varius nisi. Ut urna neque, egestas in nisl sed, congue tempus risus. Suspendisse vel orci pretium, pharetra orci eu, iaculis diam. Quisque cursus, turpis sit amet eleifend ullamcorper, elit est lobortis est, sed viverra velit lorem elementum nunc. Curabitur eget dui diam.
%p
  Morbi condimentum egestas diam, et laoreet nibh venenatis vel. In id semper purus. Nam aliquam, tortor in fringilla vestibulum, libero mi semper felis, non laoreet lacus nisl eget magna. Vestibulum sit amet nisi imperdiet, tincidunt sapien quis, iaculis diam. Vestibulum commodo sem vitae dignissim elementum. Phasellus non tempus lacus. Maecenas gravida, felis a bibendum lobortis, nisi risus ullamcorper lorem, et ornare lorem ipsum ac dui.
%p
  Ut malesuada posuere lobortis. Nullam eu placerat sem. Quisque ligula nisl, varius scelerisque dui pharetra, hendrerit imperdiet nulla. Praesent vulputate vehicula scelerisque. Ut id elit aliquet, ullamcorper nunc ultricies, varius nisi. Ut urna neque, egestas in nisl sed, congue tempus risus. Suspendisse vel orci pretium, pharetra orci eu, iaculis diam. Quisque cursus, turpis sit amet eleifend ullamcorper, elit est lobortis est, sed viverra velit lorem elementum nunc. Curabitur eget dui diam.
%p
  Morbi condimentum egestas diam, et laoreet nibh venenatis vel. In id semper purus. Nam aliquam, tortor in fringilla vestibulum, libero mi semper felis, non laoreet lacus nisl eget magna. Vestibulum sit amet nisi imperdiet, tincidunt sapien quis, iaculis diam. Vestibulum commodo sem vitae dignissim elementum. Phasellus non tempus lacus. Maecenas gravida, felis a bibendum lobortis, nisi risus ullamcorper lorem, et ornare lorem ipsum ac dui.
%p
  Ut malesuada posuere lobortis. Nullam eu placerat sem. Quisque ligula nisl, varius scelerisque dui pharetra, hendrerit imperdiet nulla. Praesent vulputate vehicula scelerisque. Ut id elit aliquet, ullamcorper nunc ultricies, varius nisi. Ut urna neque, egestas in nisl sed, congue tempus risus. Suspendisse vel orci pretium, pharetra orci eu, iaculis diam. Quisque cursus, turpis sit amet eleifend ullamcorper, elit est lobortis est, sed viverra velit lorem elementum nunc. Curabitur eget dui diam.
%p
  Morbi condimentum egestas diam, et laoreet nibh venenatis vel. In id semper purus. Nam aliquam, tortor in fringilla vestibulum, libero mi semper felis, non laoreet lacus nisl eget magna. Vestibulum sit amet nisi imperdiet, tincidunt sapien quis, iaculis diam. Vestibulum commodo sem vitae dignissim elementum. Phasellus non tempus lacus. Maecenas gravida, felis a bibendum lobortis, nisi risus ullamcorper lorem, et ornare lorem ipsum ac dui.
%p
  Ut malesuada posuere lobortis. Nullam eu placerat sem. Quisque ligula nisl, varius scelerisque dui pharetra, hendrerit imperdiet nulla. Praesent vulputate vehicula scelerisque. Ut id elit aliquet, ullamcorper nunc ultricies, varius nisi. Ut urna neque, egestas in nisl sed, congue tempus risus. Suspendisse vel orci pretium, pharetra orci eu, iaculis diam. Quisque cursus, turpis sit amet eleifend ullamcorper, elit est lobortis est, sed viverra velit lorem elementum nunc. Curabitur eget dui diam.
%p
  Morbi condimentum egestas diam, et laoreet nibh venenatis vel. In id semper purus. Nam aliquam, tortor in fringilla vestibulum, libero mi semper felis, non laoreet lacus nisl eget magna. Vestibulum sit amet nisi imperdiet, tincidunt sapien quis, iaculis diam. Vestibulum commodo sem vitae dignissim elementum. Phasellus non tempus lacus. Maecenas gravida, felis a bibendum lobortis, nisi risus ullamcorper lorem, et ornare lorem ipsum ac dui.
