---
layout: leftcol-jumbotron
subproject: true
title: Example Left-column Navigation Subproject
---

/ Example row of columns

%h2
  %span Three Equal Columns
/ begin equalHeights columns 3
#equalHeightsA.row.equalHero

  .col-md-4
    %a{:href => "about.html"}
      %img.aligncenter{:alt => "", :src => "../demo/fc-Sandro_Botticelli_077.png"}/
    %h3
      %a{:href => "about.html"} We're an industry leader.
    %p Public domain images. We will increase our aptitude to evolve without decrementing our capacity to leverage. It may seem marvelous, but it's true!
    .pull-right
      %a.btn.btn-primary{:href => "about.html"} Details →

  .col-md-4
    %a{:href => "about.html"}
      %img.aligncenter{:alt => "", :src => "../demo/fc-Sandro_Botticelli_046.png"}/
    %h3
      %a{:href => "about.html"} Second header to show equality.
    %p If all of this seems stunning to you, that's because it is! The capability to strategize extensibly leads to the aptitude to upgrade compellingly.
    .pull-right
      %a.btn.btn-primary{:href => "about.html"} Details →

  .col-md-4
    %a{:href => "about.html"}
      %img.aligncenter{:alt => "", :src => "../demo/fc-Sandro_Botticelli_058.png"}/
    %h3
      %a{:href => "about.html"} What do we incubate? We'll show you.
    %p A company that can implement correctly will (eventually) be able to architect correctly. If you generate intuitively, you may have to synergize robustly.
    .pull-right
      %a.btn.btn-primary{:href => "about.html"} Details →

