---
layout: rightcol-releases
title: Application Server v7.1.3
---

%h2 Application Server v7.1.3

%ul#myTab.nav.nav-tabs
	%li.active
		%a{"data-toggle" => "tab", :href => "#information"} Release Information
	%li
		%a{"data-toggle" => "tab", :href => "#related"} Related Projects
	%li
		%a{"data-toggle" => "tab", :href => "#artifacts"} Artifacts
.tab-content
	#information.tab-pane.active
		.row-fluid
			.span5
				%dl.dl-horizontal
					%dt Owner
					%dd Owner Name
					%dt License
					%dd LGPL
					%dt Source Code
					%dd Link to source code
					%dt Hosting Statistics
					%dd
						:markdown
							80% hosted on jboss.org<br>
							20% hosted on apache.org
			.span5
				%dl.dl-horizontal
					%dt Project Lead
					%dd Project Lead Name
					%dt Legal Review
					%dd
						.statstart
							%i.icon-circle-blank.colorstart
		.rowfluid
			.commentcontainer
				%h4 Comments (23 comments)
				.comments
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc
				%span.commentauthor
					%a{:href => ""} Dave Z
				%span.commenttime at 12:43pm Feb 15, 2013
				.comments
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullam- corper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis.
				%span.commentauthor
					%a{:href => ""} Tim L
				%span.commenttime at 11:43am Feb 15, 2013
	#related.tab-pane
		%table.table.table-bordered.table-striped
			%thead
				%tr
					%th Name
					%th Engineering Links
					%th License
			%tbody
				%tr
					%td<
						.project-icon-med.aerogear_icon_16x
						AeroGear
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
				%tr
					%td<
						.project-icon-med.apiviz_icon_16x
						APIviz
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
				%tr
					%td<
						.project-icon-med.arquillian_icon_16x
						Arquillian
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
				%tr
					%td<
						.project-icon-med.blacktie_icon_16x
						Blacktie
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
				%tr
					%td<
						.project-icon-med.boxgrinder_icon_16x
						BoxGrinder
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
				%tr
					%td<
						.project-icon-med.byteman_icon_16x
						Byteman
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
				%tr
					%td<
						.project-icon-med.capedwarf_icon_16x
						CapeDwarf
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
				%tr
					%td<
						.project-icon-med.drools_icon_16x
						Drools
					%td<
						%a{:href => "link"} Project Page
						|
						%a{:href => "link"} Code
						|
						%a{:href => "link"} Doc
						|
						%a{:href => "link"} Jenkins
						|
						%a{:href => "link"} Jira
						|
						%a{:href => "link"} Downloads
					%td<
						LGPL
	#artifacts.tab-pane
		%table.table.table-bordered.table-striped
			%thead
				%tr
					%th Version
					%th Group ID
					%th Artifcat ID
					%th Filename
					%th Code Repo
					%th Comments
			%tbody
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						This will not be part of the product build.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Counter that seems to be causing memory leak.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
				%tr
					%td<
						7.1.3
					%td<
						12490
					%td<
						10293814
					%td<
						Filename.jar
					%td<
						%a{:href => "link"} https://github.com/jbossas/jboss-as/xxxx
					%td<
						Ready for production.
:javascript
	$(function () {
		$('#myTab a:first').tab('show');
	})