---
layout: rightcol-releases
title: Project Name Releases
---

%h2 Project Name Releases

%table.table.table-bordered.table-striped
	%thead
		%tr
			%th Version
			%th Release Owner
			%th License
			%th Legal Review
			%th Source Code
	%tbody
		%tr
			%td<
				7.1.3
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statstart
					%i.icon-circle-blank.colorstart
			%td<
				https://github.com/jbossas/jboss-as/7.1.3
		%tr
			%td<
				7.1.3
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statstart
					%i.icon-circle-blank.colorstart
			%td<
				https://github.com/jbossas/jboss-as/7.1.3
		%tr
			%td<
				7.1.2
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statprogress
					%i.icon-adjust.colorprogress
			%td<
				https://github.com/jbossas/jboss-as/7.1.2
		%tr
			%td<
				7.1.2
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statprogress
					%i.icon-adjust.colorprogress
			%td<
				https://github.com/jbossas/jboss-as/7.1.2
		%tr
			%td<
				7.1.1
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statcomplete
					%i.icon-circle.colorcomplete
			%td<
				https://github.com/jbossas/jboss-as/7.1.1
		%tr
			%td<
				7.1.1
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statcomplete
					%i.icon-circle.colorcomplete
			%td<
				https://github.com/jbossas/jboss-as/7.1.1
		%tr
			%td<
				7.1.1
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statcomplete
					%i.icon-circle.colorcomplete
			%td<
				https://github.com/jbossas/jboss-as/7.1.1
		%tr
			%td<
				7.1.1
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statcomplete
					%i.icon-circle.colorcomplete
			%td<
				https://github.com/jbossas/jboss-as/7.1.1
		%tr
			%td<
				7.1.1
			%td<
				Owner Name
			%td<
				LGPL
			%td<
				.statcomplete
					%i.icon-circle.colorcomplete
			%td<
				https://github.com/jbossas/jboss-as/7.1.1
