---
layout: rightcol
title: Example Right Column
---


/ Main hero unit for a primary marketing message or call to action
.jumbotron
  %h1 Project XYZ is Awesome!
  %p This is the basic template for the JBoss Community Bootstrap/Awestruct project sites. This is where you would put a marketing message.
  %p<
    %a.btn.btn-primary.btn-lg(href="swatch.html") View the Swatches &raquo;

/ Example row of columns
.row
  .col-md-4
    %h2 Uses Bootstrap
    :markdown
      This theme is designed to layer on top of Bootstrap by using the standardized CSS classes and IDs so you can easily take advantage of all the great built in components of Bootstrap.
    %p<
      %a.btn.btn-default(href="http://twitter.github.io/bootstrap/components.html") Bootstrap Components &raquo;
  .col-md-4
    %h2 Look and Feel Swatches
    :markdown
      To give a better view of some of the look and feel changes, we've put together a swatch file containing various styled components and the Font Awesome icon replacement for quick viewing.
    %p<
      %a.btn.btn-default(href="swatch.html") Go to the Swatches &raquo;
  .col-md-4
    %h2 The JBoss Badge
    :markdown
      Projects are now able to utilize this standard look and feel or create their own. We just ask that you keep unedited this badge on your home page to show that your project is a part of the JBoss Family.

