---
layout: project
title: Example Splashpage
---

/ Main hero unit for a primary marketing message or call to action
.jumbotron.text-center
  %h1 Splashpage Jumbotron!
  %p This is where you would put a marketing message.
  %p<
    %a.btn.btn-primary.btn-lg(href="swatch.html") View the Swatches &raquo;

/ Example row of columns
%br
.col-md-4
  .well.text-center
    %i.icon-check-sign.icon-4x{style: "color: #93adbc;"}
    %h2 Uses Bootstrap
    :markdown
      This theme is designed to layer on top of Bootstrap by using the standardized CSS classes and IDs so you can easily take advantage of all the great built in components of Bootstrap.
    %p<
      %a.btn.btn-default(href="http://twitter.github.io/bootstrap/components.html") Bootstrap Components &raquo;
.col-md-4
  .well.text-center
    %i.icon-tint.icon-4x{style: "color: #93adbc;"}
    %h2 Look & Feel Swatches
    :markdown
      To give a better view of some of the look and feel changes, we've put together a swatch file containing various styled components and the Font Awesome icon replacement for quick viewing.
    %p<
      %a.btn.btn-default(href="swatch.html") Go to the Swatches &raquo;
.col-md-4
  .well.text-center
    %i.icon-thumbs-up.icon-4x{style: "color: #93adbc;"}
    %h2 The JBoss Badge
    :markdown
      Projects are now able to utilize this standard look and feel or create their own. We just ask that you keep unedited this badge on your home page to show that your project is a part of the JBoss Family.

      You can find the badge in the footer below.

%br
%br
.row
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/clipboard.png"}/
  .col-md-6
    %h3 Immediate to use
    %p Donec scelerisque, nulla eget scelerisque commodo, ipsum risus volutpat felis, faucibus sagittis ante ipsum ac tellus. Nunc sem lorem, scelerisque vitae gravida sed, porttitor sodales odio. Sed tincidunt adipiscing malesua. Etiam mi ultrices fringilla sapien quis, mollis sollicitudin felis. Maecenas id malesuada metus.
%br
%br
%hr
%br
%br
.row
  .col-md-6
    %h3 Fun & Playful
    %p Donec scelerisque, nulla eget scelerisque commodo, ipsum risus volutpat felis, faucibus sagittis ante ipsum ac tellus. Nunc sem lorem, scelerisque vitae gravida sed, porttitor sodales odio. Sed tincidunt adipiscing malesua. Etiam mi ultrices fringilla sapien quis, mollis sollicitudin felis. Maecenas id malesuada metus.
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/chat.png"}/
%br
%br
%hr
%br
%br
.row
  .col-md-6.text-center
    %img{:src => "http://static.jboss.org/images/awestruct/clocks.png"}/
  .col-md-6
    %h3 Compiles Quickly
    %p Donec scelerisque, nulla eget scelerisque commodo, ipsum risus volutpat felis, faucibus sagittis ante ipsum ac tellus. Nunc sem lorem, scelerisque vitae gravida sed, porttitor sodales odio. Sed tincidunt adipiscing malesua. Etiam mi ultrices fringilla sapien quis, mollis sollicitudin felis. Maecenas id malesuada metus.
%br
%br
%br
%br
/ =========================Tabbed Content=========================
#tabbedcontent
  .row
    .col-md-12
      .well
        %h1 Important Sections
        %ul#myTab.nav.nav-tabs
          %li.active
            %a{:href => "#home"} Home
          %li
            %a{:href => "#profile"} Profile
          %li
            %a{:href => "#messages"} Messages
          %li
            %a{:href => "#settings"} Settings
        .tab-content
          #home.tab-pane.active Home content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
          #profile.tab-pane Profile content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
          #messages.tab-pane Messages content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
          #settings.tab-pane Settings content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.

    :javascript
      $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      })
