// Pretty printing styles. Used with prettify.js.
// (based on http://google-code-prettify.googlecode.com/svn/trunk/src/ - 7th Jan 2013)

// SPAN elements with the classes below are added by prettyprint.
.pln { color: #48484c; }                // plain text

@media screen {
  .str { color: #D14; }                  // string content
  .kwd { color: #1e347b; }              // a keyword
  .com { color: #93a1a1; }              // a comment
  .typ { color: teal;  }                  // a type name
  .lit { color: #195f91; }              // a literal value
  .pun, .opn, .clo { color: #93a1a1; }  // punctuation, lisp open bracket, lisp close bracket
  .tag { color: #1e347b; }              // a markup tag name
  .atn { color: teal; }                  // a markup attribute name
  .atv { color: #D14; }                  // a markup attribute value
  .dec, .var { color: teal; }            // a declaration; a variable name
  .fun { color: #dc322f; }              // a function name
}

// Use higher contrast and text-weight for printable form.
@media print, projection {
  .str { color: #D14; }
  .kwd { color: #1e347b; font-weight: bold }
  .com { color: #93a1a1; font-style: italic }
  .typ { color: teal; font-weight: bold }
  .lit { color: #195f91; }
  .pun, .opn, .clo { color: #93a1a1; }
  .tag { color: #1e347b; font-weight: bold }
  .atn { color: teal; }
  .atv { color: #D14; }
}

// Put a border around prettyprinted code snippets.
.prettyprint {
  color: #1e347b;
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

// Specify class=linenums on a pre to get line numbering
ol.linenums {
  margin: 0 0 0 33px;  // IE indents via margin-left
  
  li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;  
  }
}
