{{ "<!-- banner -->" | safeHTML }}
<div class="jumbotron">
  <div class="row hidden-sm hidden-xs">
    <div class="col-md-8">
      <div class="row">
        <div class="col">
          <h1>Debezium</h1>
          <h3>Stream changes from your database.</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col col-md-offset-5">
          <br />
          <br />
          <a
            class="btn btn-primary btn-stable btn-block btn-md"
            href="/releases/1.3/"
            style="width: 190px"
          >
            <div>
              <div style="float: left">Latest stable (1.3)</div>
              <div style="float: right">
                <span class="icon-arrow-right"></span>
              </div>
              <div style="clear: both"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-sm hidden-xs">
    <div class="col">
      <p>
        Debezium is an open source distributed platform for change data capture.
        Start it up, point it at your databases, and your apps can start
        responding to all of the inserts, updates, and deletes that other apps
        commit to your databases. Debezium is durable and fast, so your apps can
        respond quickly and never miss an event, even when things go wrong.
      </p>
      <h3>
        <a class="btn btn-primary btn-lg" href="/documentation/"
          >Try our tutorial</a
        >
      </h3>
    </div>
  </div>
  <div class="row visible-sm visible-xs">
    <div class="col">
      <h1>Debezium</h1>
      <h3>Stream changes from your database.</h3>
      <p>
        Debezium is an open source distributed platform for change data capture.
        Start it up, point it at your databases, and your apps can start
        responding to all of the inserts, updates, and deletes that other apps
        commit to your databases. Debezium is durable and fast, so your apps can
        respond quickly and never miss an event, even when things go wrong.
      </p>
      <h3>
        <a
          class="btn btn-primary btn-stable btn-block btn-lg"
          href="/releases/1.3/"
          style=""
        >
          <div>
            <div style="float: left">Latest stable (1.3)</div>
            <div style="float: right">
              <span class="icon-arrow-right"></span>
            </div>
            <div style="clear: both"></div>
          </div>
        </a>
        <a class="btn btn-primary btn-lg btn-block" href="/documentation/"
          >Try our tutorial</a
        >
      </h3>
    </div>
  </div>
</div>
{{ "<!-- /banner -->" | safeHTML }}
