<div id="leftdocnav">
  <div class="hidden-lg hidden-md hidden-sm">
    <button
      class="navbar-toggle docssubmenu-toggle collapsed"
      data-target="#docssubmenu"
      data-toggle="collapse"
      style="
        float: none;
        background-color: #656565;
        border-color: #656565;
        width: 100%;
        color: #fff;
      "
    >
      Navigation Menu
    </button>
  </div>
  <div class="collapse" id="docssubmenu">
    <div class="doc-pills">
      <ul class="nav nav-pills nav-stacked">
        <li class="item">
          <a href="/blog">Home</a>
          <div class="icon"><span class="icon-home"></span></div>
        </li>
        {% if page.url contains "archives" %}
        <li class="item active">
          {% else %}
          <li class="item">
        {% endif %}
          <a href="/archives">Archive</a>
          <div class="icon"><span class="icon-arrow-down"></span></div>
        </li>
        <li class="item">
          <a href="/blog.atom">Feed</a>
          <div class="icon"><span class="icon-rss"></span></div>
        </li>
      </ul>
    </div>
    <p></p>
    <div class="featured-posts">
      <div id="#featured" style="margin-bottom: 4px; border-bottom: 1px solid #ccc; font-size: 115%; margin-left: 2px;">Featured Posts</div>
        <ul style="padding-inline-start: 22px;">
          {% for post in site.posts %}
            {% if post.featured == true %}
            <li style="margin-bottom: 3px;">
              <a href="{{ post.url }}" style="font-size: 95%;">
                {{ post.title }}
              </a>
            </li>  
            {% endif %}
          {% endfor %}
        </ul>
    </div>
    <p></p>
    <p></p>
    <div class="cloud-tags">
      <div id="tags" style="margin-bottom: 4px; border-bottom: 1px solid #ccc; font-size: 115%; margin-left: 2px;"> Tags
      </div>
        <div class="tag-cloud"> 
          {% assign sortedTags = site.tags | sort %}
          {% for tag in sortedTags %}
          <span class="site-tag">
            <a href="/tag/{{ tag | first | slugify }}/" style="font-size: {{ tag | last | size  |  times: 2 | plus: 80  }}%">
              {{ tag[0] | replace:'-', ' ' }}
            </a>
          </span>
          {% endfor %}
        </div>
  </div>
  </div>
</div>
