<div class="component-wrapper">
  <div class="grid__item width-10-12 width-12-12-m">
    {% for post in paginator.posts date %}
      <div class="blog-list-item grid-wrapper">
        {% assign postAuthors = post.author | remove: " " | split: "," %}
        <div class="row" style="margin-left: 0; margin-right: 0; margin-bottom: 10px;"> 
          <div class="col-sm-12" style="padding-left: 0px;"> 
            <div style="display: table-cell; vertical-align: top;"> 
              <div style="width: 72px; border: 1px solid #ccc; padding: 3px; display: inline-block;">
                {% if postAuthors.size == 1 and site.data.authors[postAuthors.first].avatar %} 
                  <img src="/assets/images/{{ site.data.authors[postAuthors.first].avatar }}" style="width: 64px;"> 
                {% else %}
                  <img src="/assets/images/color_debezium_64px.png" style="width: 64px;"> 
                {% endif %}
              </div> </div> <div style="display: table-cell; vertical-align: top;"> 
                <div style="margin-left: 8px;"> 
                  <span class="hidden-sm hidden-xs" style="font-size: 2.75rem; line-height: 1;"> 
                    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> 
                  </span> <span class="hidden-md hidden-lg" style="font-size: 2rem; line-height: 1;"> 
                    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> 
                  </span> <div class="byline" style="line-height: 1;"> 
                    {% assign resolvedAuthors = "" | split: ',' %}
                    {% for postAuthor in postAuthors %}
                      {% assign authorName = site.data.authors[postAuthor].name %}
                      {% if authorName %} 
                        {% assign resolvedAuthors = resolvedAuthors | push: authorName %}
                      {% else %}
                        {% assign resolvedAuthors = resolvedAuthors | push: postAuthor %}
                      {% endif %}
                    {% endfor %}
                    <em> {{ post.date | date: "%B %-d, %Y"}} by </em>
                    <em> {{ resolvedAuthors | join: ", " }} </em>
                    <div class="hidden-xs" style="margin-top: 5px;"> 
                      {% for tag in post.tags %}
                        <a class="label label-info hidden-sm hidden-xs" href="/tag/{{ tag }}/">{{ tag }}</a> 
                      {% endfor %}
                    </div> 
                  </div> 
                </div> 
              </div> 
            </div> 
          </div>
        <div class="grid__item width-12-12">
          {% if post.content contains "<!-- more -->" %}
            <p>{{ post.excerpt }}</p>
          {% else %}
            <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
          {% endif %}
        </div>
        <div class="read-more-div"> 
          <a class="read-more" href="{{site.baseurl}}{{ post.url }}"> Read More&nbsp;&nbsp;&nbsp;&nbsp; 
            <span class="icon-arrow-right"></span> 
          </a> 
        </div>
      </div>
      <div style="border-bottom: 1px dashed #ccc; margin-top: 25px; margin-bottom: 15px;"></div>
      
    {% endfor %}

    <ul class="pager">
      
      {% if paginator.next_page %}
        <li class="previous">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Older</a>
      </li>
      {% else %}
        <li class="previous disabled">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous">Older</a>
        </li>
      {% endif %}

      <li class="pages ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </li>
      
      {% if paginator.previous_page %}
      <li class="next"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a></li>
      {% else %}
        <li class="next disabled"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a></li>
      {% endif %}

    </ul>
  </div>
</div>