<div
  class="breadcrumb-version-selector"
  style="
    background-color: rgba(245, 245, 245);
    margin-bottom: 22px;
    margin-top: 15px;
  "
>
  <div style="float: left">
    <ol class="breadcrumb" style="margin-bottom: 0px">
      <li><a href="/releases"> Releases </a></li>
      <li><a href="/releases/{{page.debezium-version}}/"> {{page.debezium-version}} </a></li>
      {% if page.layout == 'release-notes' %}
      <li class="active">Release Notes for Debezium {{page.debezium-version}}</li>
      {% endif %}
    </ol>
  </div>
  <div style="float: right">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        Version {{page.debezium-version}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        {% for version in site.data.versions.versions reversed %}
          {% assign formatedVersion = version | replace: ".", "" %} 
          {% assign releaseInfo = site.data.releases[formatedVersion] %} 
          {% if releaseInfo.series.hidden == false %}
            <li class="item">
              <a href="/releases/{{version}}/"> Version {{version}} </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
