<div class="row">
    <div class="text-center">
        <h2>
            Debezium is an open source project, <br />
            and we welcome everyone that wants to help to make <br />
            it the best open source platform for change data capture.
        </h2>
    </div>
    <br />
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2 pull-center">
                <i class="enormous-icon icon-edit circled pull-center"></i>
            </div>
            <div class="col-md-10">
                <h3>"How can I help?"</h3>
                <p>
                    You can contribute in multiple ways: by using Debezium,
                    asking or answering questions, reporting issues, writing
                    documentation, fixing bugs, discussing plans, and developing
                    new features. Set up your local environment, star our
                    <a href="https://github.com/debezium">GitHub repositories</a>, and check out our open
                    issues.
                </p>
                <a class="btn btn-primary" href="{{site.baseurl}}/community/contribute/">Learn how</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2 pull-center">
                <i class="enormous-icon icon-comments-alt circled pull-center"></i>
            </div>
            <div class="col-md-10">
                <h3>"Where can I ask questions?"</h3>
                <p>
                    Our <a href="/documentation/">documentation</a> is full of
                    useful information, and you might find an answer to your
                    question there. If not, jump into our
                    <a href="https://gitter.im/debezium/user">chat room for users</a>
                    or join our
                    <a href="https://groups.google.com/forum/#!forum/debezium">Google Group</a>. Our
                    <a href="https://gitter.im/debezium/user">user chat room</a>
                    may be useful if you're interested in the in-depth inner
                    workings of Debezium.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2 pull-center">
                <i class="enormous-icon icon-bullhorn circled pull-center"></i>
            </div>
            <div class="col-md-10">
                <h3>"I'm using Debezium!"</h3>
                <p>
                    We love to hear how people are using Debezium, so let us
                    know on Twitter
                    <a href="http://twitter.com/debezium">@debezium</a> or
                    mention it in the
                    <a href="https://groups.google.com/forum/#!forum/debezium">Google Group</a>. Include a link
                    to your project, website, or blog post.
                    We'd also be very happy to to add you to our growing list of Debezium
                    <a href="/community/users/">production users</a>.
                </p>
            </div>
        </div>
    </div>
</div>