<h3 class="section">Series</h3>
<div class="row">
  {% for version in site.data.versions.versions %} 
  {% assign formatedVersion = version | replace: ".", "" %} 
  {% assign releaseDetails = site.data.releases[formatedVersion] %}
   {% if releaseDetails.series.displayed %}
   {%- assign sortedReleaseDetails = releaseDetails | sort -%}
   {%- assign lastIndex = sortedReleaseDetails.size | minus: 2 -%}
   {% assign formattedLastVersion = sortedReleaseDetails[lastIndex][0] %}
    {% assign latestRelease = releaseDetails[formattedLastVersion] %}
    {% if latestRelease.stable %}
      {% assign labelStyle = "span label label-stable" %}
      {% assign labelText = "stable" %}
    {% else %}
      {% assign labelStyle = "span label label-development" %}
      {% assign labelText = "development" %}
    {% endif %}
    <div class="col-sm-4">
      <div class="series raised">
        <div class="series-banner">
          <h4 class="series-label">
            <div class="{{ labelStyle }}">{{ labelText }}</div>
          </h4>
        </div>
        <div class="clear"></div>
        <h3 class="version">{{ version }}</h3>
        <h6 class="version-date">{{ latestRelease.date }}</h6>
        <div class="description">{{ latestRelease.summary }}</div>
        <div class="more-info">
          <a class="btn btn-primary" href="/documentation/reference/{{version}}/">
            More info&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="icon-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
    {% endif %} 
  {% endfor %}
</div>
<a class="btn btn-default older-series collapsed" data-toggle="collapse" href="#older-series" aria-expanded="false">
  <span class="show-older">See older series</span>
  <span class="hide-older">Hide older series</span>
</a>
<div class="row collapse" id="older-series" style="height: 0px;" aria-expanded="false">
  <div class="row empty"></div>
  {% for version in site.data.versions.versions %}
   {% assign formatedVersion = version | replace: ".", "" %} 
   {% assign releaseDetails = site.data.releases[formatedVersion] %} 
  {% if releaseDetails.series.hidden == false %} 
    {% if releaseDetails.series.displayed == false %}
    {%- assign sortedReleaseDetails = releaseDetails | sort -%}
    {%- assign lastIndex = sortedReleaseDetails.size | minus: 2 -%}
    {% assign formattedLastVersion = sortedReleaseDetails[lastIndex][0] %}
      {% assign latestRelease = releaseDetails[formattedLastVersion] %}
      {% if latestRelease.stable %}
        {% assign labelStyle = "span label label-stable" %}
        {% assign labelText = "stable" %}
      {% else %}
        {% assign labelStyle = "span label label-development" %}
        {% assign labelText = "development" %}
      {% endif %}
        <div class="col-sm-4">
        <div class="series raised">
          <div class="series-banner">
            <h4 class="series-label">
              <div class="{{ labelStyle }}">{{ labelText }}</div>
            </h4>
          </div>
          <div class="clear"></div>
          <h3 class="version">{{ version }}</h3>
          <h6 class="version-date">{{ latestRelease.date }}</h6>
          <div class="description">{{ latestRelease.summary }}</div>
          <div class="more-info">
            <a class="btn btn-primary" href="/documentation/reference/{{version}}/">
              More info&nbsp;&nbsp;&nbsp;&nbsp;
              <span class="icon-arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
    {% endif %} 
  {% endif %} 
{% endfor %}
</div>
<p></p>
<h3 class="section">Other Documentation</h3>
<p></p>
Make sure to check the
<a href="/documentation/faq">FAQ</a>. You can also find quite a lot of valuable
insight about Debezium all across the web. We have compiled a list of such
articles <a href="/documentation/online-resources">here</a>.
