<h3 class="section">Series</h3>
<div class="row">
  <div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-stable">stable</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">1.2</h3>
      <h6 class="version-date">2020-09-24</h6>
      <div class="description">Align code with Quarkus 1.9</div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/1.2/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-stable">stable</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">1.3</h3>
      <h6 class="version-date">2020-10-01</h6>
      <div class="description">
        Final bugfixes; Logging in Connect image configurable via environment
        variables
      </div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/1.3/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-development">development</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">1.4</h3>
      <h6 class="version-date">2020-10-22</h6>
      <div class="description">Vitess connector support</div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/1.4/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-default older-series collapsed" data-toggle="collapse" href="#older-series" aria-expanded="false">
  <span class="show-older">See older series</span>
  <span class="hide-older">Hide older series</span>
</a>
<div class="row collapse" id="older-series" style="height: 0px;" aria-expanded="false">
  <div class="row empty"></div>
  <div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-stable">stable</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">0.9</h3>
      <h6 class="version-date">2019-05-06</h6>
      <div class="description">
        Support fetch size during snapshot and new column type support for
        PostgreSQL.
      </div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/0.9/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-stable">stable</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">0.10</h3>
      <h6 class="version-date">2019-10-02</h6>
      <div class="description">
        New incubating Cassandra connector, new features and enhancements for
        PostgreSQL connector, and various bugfixes
      </div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/0.10/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-stable">stable</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">1.0</h3>
      <h6 class="version-date">2020-03-12</h6>
      <div class="description">
        Maintenance release; improvement of ExtractNewRecordState SMT
      </div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/1.0/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="series raised">
      <div class="series-banner">
        <h4 class="series-label">
          <div class="span label label-stable">stable</div>
        </h4>
      </div>
      <div class="clear"></div>
      <h3 class="version">1.1</h3>
      <h6 class="version-date">2020-06-02</h6>
      <div class="description">
        Maintenance release; simplified fully-qualified table names for Oracle,
        Db2 and SQL Server
      </div>
      <div class="more-info">
        <a class="btn btn-primary" href="/documentation/reference/1.1/">
          More info&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<p></p>
<h3 class="section">Other Documentation</h3>
<p></p>
Make sure to check the
<a href="/documentation/faq">FAQ</a>. You can also find quite a lot of valuable
insight about Debezium all across the web. We have compiled a list of such
articles <a href="/documentation/online-resources">here</a>.
