<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <br />
    <br />
    <i class="enormous-icon icon-signal circled pull-center"></i>
  </div>
  <div class="col-md-6">
    <h2>Do more with your data</h2>
    <p>
      Your data is always changing. Debezium lets your apps react every time
      your data changes, and you don't have to change your apps that modify the
      data. Debezium continuously monitors your databases and lets any of your
      applications stream every row-level change in the same order they were
      committed to the database. Use the event streams to purge a cache, update
      search indexes, generate derived views and data, keep other data sources
      in sync, and much more. In fact, pull that functionality out of your app
      and into separate services.
    </p>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h2>Simplify your apps</h2>
    <p>
      Since Debezium can monitor your data, why have one app update the database
      <em>and</em> update search indexes <em>and</em> send notifications
      <em>and</em> publish messages? Doing that correctly - especially when
      things go wrong - is really tough, and if you get it wrong the data in
      those system may become inconsistent. Keep things simple, and move that
      extra functionality into separate services that use Debezium.
    </p>
  </div>
  <div class="col-md-2">
    <br />
    <br />
    <i class="enormous-icon icon-sitemap circled pull-center"></i>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <br />
    <br />
    <i class="enormous-icon icon-shield circled pull-center"></i>
  </div>
  <div class="col-md-6">
    <h2>Never miss a beat</h2>
    <p>
      Take your apps and services down for maintenance, and Debezium keeps
      monitoring so that when your apps come back up they'll continue exactly
      where they left off. No matter what, Debezium keeps the events in the same
      order they were made to the database. And Debezium makes sure that you
      always <em>see every event</em>, even when things go wrong.
    </p>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h2>React quickly</h2>
    <p>
      When all things are running smoothly, Debezium is fast. And that means
      your apps and services can react quickly. Debezium is built on top of
      <a href="http://kafka.apache.org">Apache Kafka</a>, which is proven,
      scalable, and handles very large volumes of data very quickly.
    </p>
  </div>
  <div class="col-md-2">
    <br />
    <br />
    <i class="enormous-icon icon-dashboard circled pull-center"></i>
  </div>
</div>
<br>
<br>
<br>