<nav class="navbar navbar-inverse navbar-fix">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed border-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/"><img class="project-logo" src="{{site.baseurl}}/assets/images/color_white_debezium_type_600px.svg" style="height: 32px; margin-right: 5px; margin-top: -5px;"></a>
    </div>
    <div class="collapse navbar-collapse collapsed" id="navigation">
      <ul class="nav navbar-nav pull-right">
        {% if page.url == "/documentation/faq" %}
          <li class="active">
            {% else %}
            <li>
          {% endif %}
          <a href="{{site.baseurl}}/documentation/faq" class="{% if page.url == '/documentation/faq' %}active{% endif %}">FAQ</a>
        </li>
        {% if page.layout == 'documentation' %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
          <a href="{{site.baseurl}}/documentation/" class="{% if page.url contains '/documentation/' %}active{% endif %}">Documentation</a>
        </li>
        {% if page.url contains "releases" %}
          <li class="active">
            {% else %}
            <li>
          {% endif %}
          <a href="{{site.baseurl}}/releases/" class="{% if page.url contains '/release/' %}active{% endif %}">Releases</a>
        </li>
        {% if page.url contains "community" %}
          <li class="active">
            {% else %}
            <li>
          {% endif %}
            <a href="{{site.baseurl}}/community/" class="{% if page.url contains '/community/' %}active{% endif %}">Community</a>
        </li>
        {% if page.url contains "blog" %}
          <li class="active">
            {% else %}
            <li>
          {% endif %}
          <a href="{{site.baseurl}}/blog/" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>