<nav class="navbar navbar-expand-md navbar-inverse {{ if .IsHome }}navbar-dark{{ else }}navbar-light{{ end }}">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{site.baseurl}}/"><img class="project-logo" src="{{site.baseurl}}/assets/images/color_white_debezium_type_600px.svg" style="height: 32px; margin-right: 5px; margin-top: -5px;"></a>
    <button class="navbar-toggle collapsed border-0" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
    <div class="collapse navbar-collapse collapsed" id="navigation">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="{{site.baseurl}}/documentation/faq" class="{% if page.url == '/documentation/faq' %}active{% endif %}">FAQ</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/documentation/" class="{% if page.url contains '/documentation/' %}active{% endif %}">Documentation</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/release/" class="{% if page.url contains '/release/' %}active{% endif %}">Releases</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/community/" class="{% if page.url contains '/community/' %}active{% endif %}">Community</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/blog/" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>