  <div id="leftdocnav">
    <div class="hidden-lg hidden-md hidden-sm">
      <button
        class="navbar-toggle docssubmenu-toggle collapsed"
        data-target="#docssubmenu"
        data-toggle="collapse"
        style="
          float: none;
          background-color: #656565;
          border-color: #656565;
          width: 100%;
          color: #fff;
        "
      >
        Navigation Menu
      </button>
    </div>
    <div class="collapse" id="docssubmenu">
      <div class="doc-pills">
        <ul class="nav nav-pills nav-stacked">
          <li class="item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Documentation</a
            >
            <div class="icon"><span class="caret-right"></span></div>
            <ul class="dropdown-menu nav nav-pills nav-stacked">
              <li class="item"><a href="{{site.baseurl}}/documentation/">Overview</a></li>
              <li class="item">
                <a href="{{site.baseurl}}/documentation/reference/1.2/">
                  <div class="version">1.2</div>
                </a>
              </li>
              <li class="item">
                <a href="{{site.baseurl}}/documentation/reference/1.3/">
                  <div class="version">1.3</div>
                  <div class="version-label">
                    <span class="label label-stable"> latest stable </span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Releases</a
            >
            <div class="icon"><span class="caret-right"></span></div>
            <ul class="dropdown-menu nav nav-pills nav-stacked">
              <li class="item"><a href="{{site.baseurl}}/releases/">Overview</a></li>
              <li class="item">
                <a href="{{site.baseurl}}/releases/1.2/"> <div class="version">1.2</div> </a>
              </li>
              <li class="item">
                <a href="{{site.baseurl}}/releases/1.3/">
                  <div class="version">1.3</div>
                  <div class="version-label">
                    <span class="label label-stable"> latest stable </span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="item dropdown">
            <a href="{{site.baseurl}}/documentation/online-resources">Resources on the Web</a>
            <div class="icon"><i class="icon-globe"></i></div>
          </li>
          <li class="item dropdown">
            <a href="{{site.baseurl}}/community/users">Who's using Debezium?</a>
            <div class="icon"><i class="icon-laptop"></i></div>
          </li>
          <li class="item">
            <a href="{{site.baseurl}}/roadmap">Roadmap</a>
            <div class="icon"><i class="icon-road"></i></div>
          </li>
          <li class="item">
            <a href="{{site.baseurl}}/community/contribute">Contribute</a>
            <div class="icon"><i class="icon-code"></i></div>
          </li>
          <li class="item">
            <a href="{{site.baseurl}}/community/code-of-conduct">Code of Conduct</a>
            <div class="icon"><i class="icon-file"></i></div>
          </li>
          <li class="item active">
            <a href="{{site.baseurl}}/documentation/faq">FAQ</a>
            <div class="icon"><i class="icon-question-sign"></i></div>
          </li>
        </ul>
      </div>
      <p></p>
      <div class="doc-pills">
        <ul class="nav nav-pills nav-stacked">
          <li class="item">
            <a href="http://www.github.com/debezium/">Source Code</a>
            <div class="icon"><i class="icon-github"></i></div>
          </li>
          <li class="item">
            <a href="http://issues.redhat.com/projects/DBZ/issues">Issues</a>
            <div class="icon"><i class="icon-tasks"></i></div>
          </li>
          <li class="item">
            <a href="http://www.twitter.com/debezium/">Twitter</a>
            <div class="icon"><i class="icon-twitter"></i></div>
          </li>
          <li class="item">
            <a href="http://www.gitter.im/debezium/user">Chat</a>
            <div class="icon"><i class="icon-comments"></i></div>
          </li>
          <li class="item">
            <a href="https://groups.google.com/forum/#!forum/debezium"
              >Mailing List</a
            >
            <div class="icon"><i class="icon-group"></i></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
