  <div id="leftdocnav">
    <div class="hidden-lg hidden-md hidden-sm">
      <button
        class="navbar-toggle docssubmenu-toggle collapsed"
        data-target="#docssubmenu"
        data-toggle="collapse"
        style="
          float: none;
          background-color: #656565;
          border-color: #656565;
          width: 100%;
          color: #fff;
        "
      >
        Navigation Menu
      </button>
    </div>
    <div class="collapse" id="docssubmenu">
      <div class="doc-pills">
        <ul class="nav nav-pills nav-stacked">
          {% if page.layout == 'documentation' %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Documentation</a
            >
            <div class="icon"><span class="caret-right"></span></div>
            <ul class="dropdown-menu nav nav-pills nav-stacked">
              <li class="item"><a href="{{site.baseurl}}/documentation/">Overview</a></li>
              {% for version in site.data.versions.versions reversed %}
              {% assign formatedVersion = version | replace: ".", "" %} 
              {% assign releaseDetails = site.data.releases[formatedVersion] %} 
                {% if releaseDetails.series.displayed %}
                {%- assign sortedReleaseDetails = releaseDetails | sort -%}
                {%- assign lastIndex = sortedReleaseDetails.size | minus: 2 -%}
                {% assign formattedLastVersion = sortedReleaseDetails[lastIndex][0] %}
                  {% assign latestRelease = releaseDetails[formattedLastVersion] %}
                  {% if lastStableRelease %}
                    {% if latestRelease.stable %}
                      {% assign labelStyle1 = "label label-stable" %}
                      {% assign labelText1 = "stable" %}
                    {% else %}
                      {% assign labelStyle1 = "label label-development" %}
                      {% assign labelText1 = "development" %}
                    {% endif %}
                  {% else %}
                    {% if latestRelease.stable %}
                      {% assign lastStableRelease = releaseDetails[formattedLastVersion] %}
                      {% assign labelStyle1 = "label label-stable" %}
                      {% assign labelText1 = "latest stable" %}
                    {% else %}
                      {% assign labelStyle1 = "label label-development" %}
                      {% assign labelText1 = "development" %}
                    {% endif %}
                  {% endif %}
                  
                  <li class="item">
                    <a href="{{site.baseurl}}/documentation/reference/{{version}}/">
                      <div class="version">{{version}}</div>
                      <div class="version-label">
                        <span class="{{ labelStyle1 }}"> {{ labelText1 }} </span>
                      </div>
                    </a>
                  </li>
                  {% endif %} 
                {% endfor %}
            </ul>
          </li>
          {% if page.url contains "releases" %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Releases</a
            >
            <div class="icon"><span class="caret-right"></span></div>
            <ul class="dropdown-menu nav nav-pills nav-stacked">
              <li class="item"><a href="{{site.baseurl}}/releases/">Overview</a></li>
              {% for version in site.data.versions.versions reversed%}
              {% assign formatedVersion = version | replace: ".", "" %} 
              {% assign releaseDetails = site.data.releases[formatedVersion] %} 
                {% if releaseDetails.series.displayed %}
                {%- assign sortedReleaseDetails = releaseDetails | sort -%}
                {%- assign lastIndex = sortedReleaseDetails.size | minus: 2 -%}
                {% assign formattedLastVersion = sortedReleaseDetails[lastIndex][0] %}
                  {% assign latestRelease = releaseDetails[formattedLastVersion] %}
                  {% if latestRelease.stable %}
                    {% assign labelStyle1 = "label label-stable" %}
                    {% if latestRelease.summary == lastStableRelease.summary %}
                      {% assign labelText1 = "latest stable" %}
                    {% else %}
                      {% assign labelText1 = "stable" %}
                    {% endif %}
                  {% else %}
                    {% assign labelStyle1 = "label label-development" %}
                    {% assign labelText1 = "development" %}
                  {% endif %}
                  <li class="item">
                    <a href="{{site.baseurl}}/releases/{{version}}/">
                      <div class="version">{{version}}</div>
                      <div class="version-label">
                        <span class="{{ labelStyle1 }}"> {{ labelText1 }} </span>
                      </div>
                    </a>
                  </li>
                  {% endif %} 
                {% endfor %}
            </ul>
          </li>
          {% if page.url == "/documentation/online-resources" %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
            <a href="{{site.baseurl}}/documentation/online-resources">Resources on the Web</a>
            <div class="icon"><i class="icon-globe"></i></div>
          </li>
          {% if page.url == "/community/users" %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
            <a href="{{site.baseurl}}/community/users">Who's using Debezium?</a>
            <div class="icon"><i class="icon-laptop"></i></div>
          </li>
          {% if page.url == "/roadmap" %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
            <a href="{{site.baseurl}}/roadmap">Roadmap</a>
            <div class="icon"><i class="icon-road"></i></div>
          </li>
          {% if page.url == "/community/contribute" %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
            <a href="{{site.baseurl}}/community/contribute">Contribute</a>
            <div class="icon"><i class="icon-code"></i></div>
          </li>
          {% if page.url == "/community/code-of-conduct" %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
            <a href="{{site.baseurl}}/community/code-of-conduct">Code of Conduct</a>
            <div class="icon"><i class="icon-file"></i></div>
          </li>
          {% if page.url == "/documentation/faq" %}
          <li class="item active">
            {% else %}
            <li class="item">
          {% endif %}
          <a href="{{site.baseurl}}/documentation/faq">FAQ</a>
            <div class="icon"><i class="icon-question-sign"></i></div>
          </li>
        </ul>
      </div>
      <p></p>
      <div class="doc-pills">
        <ul class="nav nav-pills nav-stacked">
          <li class="item">
            <a href="http://www.github.com/debezium/">Source Code</a>
            <div class="icon"><i class="icon-github"></i></div>
          </li>
          <li class="item">
            <a href="http://issues.redhat.com/projects/DBZ/issues">Issues</a>
            <div class="icon"><i class="icon-tasks"></i></div>
          </li>
          <li class="item">
            <a href="http://www.twitter.com/debezium/">Twitter</a>
            <div class="icon"><i class="icon-twitter"></i></div>
          </li>
          <li class="item">
            <a href="http://www.gitter.im/debezium/user">Chat</a>
            <div class="icon"><i class="icon-comments"></i></div>
          </li>
          <li class="item">
            <a href="https://groups.google.com/forum/#!forum/debezium"
              >Mailing List</a
            >
            <div class="icon"><i class="icon-group"></i></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
