<div class="container" id="companyfooter">
    <div class="foundationlogo">
        <a href="https://commonhaus.org">
            <img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_single_default.svg">
        </a>
    </div>
    <div class="redhatlogo">
        <a href="https://www.redhat.com/">
            <img src="{{site.baseurl}}/assets/images/Logo-Red_Hat-Sponsored_By-B-Standard-RGB.svg">
        </a>
    </div>
</div>
<div style="height: 10px;"></div>