<div class="raised" id="releases-toc">
  <div id="releases-toctitle">Quick links</div>
  <ul>
    <li><a class="item" href="#compatibility"> Compatibility </a></li>
    <li><a class="item" href="#documentation"> Documentation </a></li>
    <li><a class="item" href="#whats-new"> What's new </a></li>
    <li><a class="item" href="#installation"> Installation </a></li>
    <li><a class="item" href="#releases"> Releases in this series </a></li>
  </ul>
</div>
<h3 class="section" id="compatibility">Tested Versions</h3>

{% assign formattedVersion = page.debezium-version | replace: ".", "" %}
{% assign releaseDetails = site.data.releases[formattedVersion] %} 

<table class="releases-compatibility">
  <tbody>
    {% for integration in site.integrations %}
      {% assign compat = releaseDetails.series.compatibility[integration.id] %}
      <tr>
        <td>{{ integration.name }}</td>
        {% if compat != null %}
          {% assign version = compat.version %}
          {% assign dbVersions = compat.database.versions %}
          {% assign driverVersions = compat.driver.versions %}
          {% if version != null %}
            <td>{{ version }}</td>
          {% elsif dbVersions != null %}
            <td>
              <span class="test-with-subcategory"> Database: </span> {{ dbVersions  | join: ", "  }} <br />
              <span class="test-with-subcategory"> JDBC Driver: </span> {{ driverVersions  | join: ", "  }} <br />
            </td>
          {% endif %}
        {% else %}
          <td>
            N/A
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  Not compatible with your requirements? Have a look at the
  <a href="/releases">other series</a>. <br />
  See the
  <a href="https://kafka.apache.org/documentation/#upgrade">
    Kafka documentation
  </a>
  for compatibility with other versions of Kafka brokers.
</p>
<h3 class="section" id="documentation">Documentation</h3>
<p>Documentation for this specific series can be accessed below:</p>
<p></p>
<div class="btn-group">
  <a class="btn btn-default" href="/documentation/reference/{{page.debezium-version}}">
    Documentation&nbsp;&nbsp;&nbsp; <span class="icon-file"></span>
  </a>
</div>
<p></p>
<h3 class="section" id="whats-new">What's new</h3>
<p>
  For more details on breaking changes, bugfixes, and new features see the
  <a href="/releases/{{page.debezium-version}}/release-notes">release notes</a>.
</p>
<h3 class="section" id="installation">Installation</h3>
<p>
  If you need details on how to install Debezium, we've documented some of the
  most common ways in the
  <a href="/documentation/reference/{{page.debezium-version}}/install.html">installation guide</a>.
</p>
<h3 class="section" id="releases">Releases in this series</h3>
<p>The following are all the releases/bugfixes within this series.</p>
{%- assign sortedReleaseDetails = releaseDetails | sort -%}
{% for version in sortedReleaseDetails reversed %}
{% for subVersion in version[0] %}
{% if subVersion != 'series' %}
<div class="container-fluid" style="padding-left: 0px; padding-right: 0px">
  <div class="row row-series-releases" style="margin-bottom: 10px">
    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
      <h3 class="version" style="margin-top: 5px">
      {% if releaseDetails[subVersion].stable %}
        <span class="label label-stable">{{releaseDetails[subVersion].version}}</span>
      {% else %}
      <span class="label label-development">{{releaseDetails[subVersion].version}}</span>
      {% endif %}
      </h3>
      <h5 class="version-date">
        <span class="label label-default" style="color: #656565"
          >{{releaseDetails[subVersion].date}}</span
        >
      </h5>
    </div>
    <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
      <span
        >{{releaseDetails[subVersion].summary}}</span
      >
      <div class="release-buttons">
        <div class="btn-group" style="margin-top: 4px">
          <a
            class="btn btn-default"
            href="https://search.maven.org/search?q=g:io.debezium%20and%20v:{{releaseDetails[subVersion].version}}*"
            target="_blank"
          >
            Maven artifacts&nbsp;&nbsp; <span class="icon-tags"></span>
          </a>
        </div>
        <div class="btn-group" style="margin-top: 4px">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Downloads&nbsp;&nbsp;&nbsp; <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                href="https://repo1.maven.org/maven2/io/debezium/debezium-connector-mysql/{{releaseDetails[subVersion].version}}/debezium-connector-mysql-{{releaseDetails[subVersion].version}}-plugin.tar.gz"
                >MySQL Connector Plug-in</a
              >
            </li>
            <li>
              <a
                href="https://repo1.maven.org/maven2/io/debezium/debezium-connector-mongodb/{{releaseDetails[subVersion].version}}/debezium-connector-mongodb-{{releaseDetails[subVersion].version}}-plugin.tar.gz"
                >MongoDB Connector Plug-in</a
              >
            </li>
            <li>
              <a
                href="https://repo1.maven.org/maven2/io/debezium/debezium-connector-postgres/{{releaseDetails[subVersion].version}}/debezium-connector-postgres-{{releaseDetails[subVersion].version}}-plugin.tar.gz"
                >PostgreSQL Connector Plug-in</a
              >
            </li>
            <li>
              <a
                href="https://repo1.maven.org/maven2/io/debezium/debezium-connector-oracle/{{releaseDetails[subVersion].version}}/debezium-connector-oracle-{{releaseDetails[subVersion].version}}-plugin.tar.gz"
                >Oracle Connector Plug-in</a
              >
            </li>
            <li>
              <a
                href="https://repo1.maven.org/maven2/io/debezium/debezium-connector-sqlserver/{{releaseDetails[subVersion].version}}.Final/debezium-connector-sqlserver-{{releaseDetails[subVersion].version}}-plugin.tar.gz"
                >SQL Server Connector Plug-in</a
              >
            </li>
            <li>
              <a
                href="https://repo1.maven.org/maven2/io/debezium/debezium-connector-cassandra/{{releaseDetails[subVersion].version}}/debezium-connector-cassandra-{{releaseDetails[subVersion].version}}-plugin.tar.gz"
                >Cassandra Plug-in</a
              >
            </li>
            <li>
              <a
                href="https://repo1.maven.org/maven2/io/debezium/debezium-connector-db2/{{releaseDetails[subVersion].version}}/debezium-connector-db2-{{releaseDetails[subVersion].version}}-plugin.tar.gz"
                >Db2 Plug-in</a
              >
            </li>
          </ul>
        </div>
        <div class="btn-group" style="margin-top: 4px">
          <a
            class="btn btn-default"
            href="https://issues.redhat.com/issues/?jql=project%20%3D%20DBZ%20AND%20fixVersion%20in%20({{releaseDetails[subVersion].version}})%20ORDER%20BY%20updated"
            target="_blank"
          >
            Resolved issues&nbsp;&nbsp;&nbsp; <span class="icon-tasks"></span>
          </a>
        </div>
        {% if releaseDetails[subVersion].announcement_url %}
        <div class="btn-group" style="margin-top: 4px">
          <a
            class="btn btn-default"
            href="{{releaseDetails[subVersion].announcement_url}}"
          >
            Announcement&nbsp;&nbsp;&nbsp; <span class="icon-bullhorn"></span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}