<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="share-box">
  <h2>Share:</h2>

  <a class="t" href="https://twitter.com/intent/tweet?text={{ page.title  | url_encode}}&via={{ site.twitter_username }}&url={{ page.url | absolute_url | url_encode }}"
  onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
  title="Share on Twitter">
  <i class="fa fa-twitter fa"></i><span> twitter</span>
  </a>

  <a class="f" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'debezium',
  'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook"><i class="fa fa-facebook-official fa"></i><span> facebook</span></a>
  
  <a class="l" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'debezium',
  'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Linkedin"><i class="fa fa-linkedin fa"></i><span> linkedin</span></a>

  <a class="r" href="http://www.reddit.com/submit?url={{site.url}}{{page.url}}}&title={{page.title}}" onclick="window.open(this.href, 'debezium',
  'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Reddit"><i class="fa fa-reddit fa"></i><span> reddit</span></a>

  <a class="e" href="mailto:?subject={{ page.title}}&body=Check out this site {{site.url}}{{page.url}}" title="Share via Email"><i class="fa fa-envelope fa"></i><span> email</span></a>          

</div>

