<td>
  {% for attribute in site.test_attributes %}
    {% assign integration_attribute = compat[attribute.id] %}
    {% if integration_attribute != null %}
      {% assign render_attribute = attribute %}
      {% include tested-integration-attribute.html %}
      {% for child in attribute.children %}
        {% assign child_integration_attribute = compat[attribute.id][child.id] %}
        {% if child_integration_attribute != null %}
          {% assign render_attribute = child %}
          {% assign integration_attribute = child_integration_attribute %}
          {% include tested-integration-attribute.html %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% if compat.note != null %}
    <span class="test-with-subcategory"> * {{ compat.note  }} </span> <br />
  {% endif %}
</td>