.navbar.navbar-default#sticky-navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target=".navbar-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="http://staging.hibernate.org")
      %img{src: "http://static.jboss.org/hibernate/images/hibernate_logo_darkbkg_200px.png", width: "160px"}/
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "http://staging.hibernate.org/orm/"} ORM
        %li
          %a{href: "http://staging.hibernate.org/search/"} Search
        %li
          %a{href: "http://staging.hibernate.org/validator/"} Validator
        %li
          %a{href: "http://staging.hibernate.org/ogm/"} OGM
        %li
          %a{href: "http://staging.hibernate.org/tools/"} Tools
        %li
          %a{href: "http://staging.hibernate.org/others/"} Others
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "http://in.relation.to"} Blog
        %li
          %a{href: "community"} Community
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Follow Us
            %b.caret
          %ul.dropdown-menu.projectsocialmedia
            %li
              %a{href: "https://twitter.com/hibernate"}
                %img{src: "http://static.jboss.org/theme/images/common/socialmedia_icon40_twitter.png"}/
            %li
              %a{href: "https://plus.google.com/112681342290762837955/posts"}
                %img{src: "http://static.jboss.org/theme/images/common/socialmedia_icon40_googleplus.png"}/