/ Main hero unit for a primary marketing message or call to action
.jumbotron
  %h1 Project XYZ is Awesome!
  %p
    %a.btn.btn-large.pull-right
      Get Started
    %a.btn.btn-large.btn-success.pull-right
      Download
  %p This is the basic template for the JBoss Community Bootstrap/Awestruct project sites. This is where you would put a marketing message.