/ Main hero unit for a primary marketing message or call to action
.jumbotron
  .row
    %h1 Project XYZ is Awesome!
    %p This is the basic template for the JBoss Community Bootstrap/Awestruct project sites. This is where you would put a marketing message.
    %p
      %a.btn.btn-success.b
        Get Started
      %a.btn.btn-default.b
        Download