%h2 Left Column h2
%p Generally this left-colum should be used for sub-navigation purposes
%ul.icons-ul
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 1
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 2
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 3
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 4

%br
.div
  %ul.nav.nav-list
    %li.active
      %a{:href => "#"}
        %i.icon-fixed-width.icon-home
        Home
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-book
        Library
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-pencil
        Applications
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-cogs
        Settings