.doc-pills
  %ul.nav.nav-pills.nav-stacked
    %li.item
      %a(href="/blog") Home
      .icon
        %span.icon-home
    %li.item
      %a(href="/blog.atom") Feed
      .icon
        %span.icon-rss
%p
.featured-posts
  #featured{:style => "margin-bottom: 4px; border-bottom: 1px solid #ccc; font-size: 115%; margin-left: 2px;"}
    Featured Posts
  - unless site.featured_posts.nil? || site.featured_posts.empty?
    %ul{:style => "padding-inline-start: 22px;"}
      - site.featured_posts.each do |featured|
        %li{:style => "margin-bottom: 3px;"}
          %a{:href => "#{featured.url}", :style => "font-size: 95%;"}
            = featured.title
%p
.cloud-tags
  #tags{:style => "margin-bottom: 4px; border-bottom: 1px solid #ccc; font-size: 115%; margin-left: 2px;"}
    Tags
  = site.posts_tag_cloud

