.div
  %ul.nav.nav-pills.nav-stacked
    %li.active
      %a{:href => "#"}
        %i.icon-fixed-width.icon-home
        About
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-cloud-download
        Downloads
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-book
        Documentation
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-question
        FAQ
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-road
        Roadmap
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-beer
        Contribute
    %li{class: "divider"}
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-edit
        Wiki
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-exclamation-sign
        Issues
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-comments
        Forum
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-code
        Source Code
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-stethoscope
        CI

%br

%p Generally this left-colum should be used for sub-navigation purposes
%ul.icons-ul
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 1
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 2
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 3
  %li
    %i.icon-li.icon-chevron-sign-right
    %a{:href => ""}
      Link 4