.doc-pills
  %ul.nav.nav-pills.nav-stacked
    %li.item
      %a(href="/blog") Home
      .icon
        %span.icon-home
    %li.item
      %a(href="/blog.atom") Feed
      .icon
        %span.icon-rss
%p
.cloud-tags
  #tags{:style => "margin-bottom: 4px; border-bottom: 1px solid #ccc; font-size: 115%; margin-left: 2px;"}
    Tags
  = site.posts_tag_cloud

