.panel-docnav
  .panel-heading
    %h3.panel-title
      Latest posts
  .panel-body
    %ul.list-group
      - (0..[site.posts.length - 1, 7].min).each do |idx|
        - post = site.posts[idx]
        %li.list-group-item
          %a{:href=>post.url, :title=>'Click to go to post', :rel=>'tooltip'}= post.title
