%footer.container
  .row
    .col-md-2.col-md-offset-1
      %h4 Navigate
      %ul.list-unstyled
        %li
          %a{:href => "#", :title => "Learn"} Learn
        %li
          %a{:href => "#", :title => "Get Started"} Get Started
        %li
          %a{:href => "#", :title => "Forums"} Forums
        %li
          %a{:href => "#", :title => "Get Involved"} Get Involved
        %li
          %a{:href => "#", :title => "Download"} Download
    .col-md-2
      %h4 Follow Us
      %ul.list-unstyled
        %li
          %a{:href => "#", :title => "Blog"} Blog
        %li
          %a{:href => "#", :title => "Twitter"} Twitter
        %li
          %a{:href => "#", :title => "Google+"} Google+
    .col-md-2
      %h4 Contribute
      %ul.list-unstyled
        %li
          %a{:href => "#", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "#", :title => "Write code"} Write Code
        %li
          %a{:href => "#", :title => "Join the team"} Join the team
    .col-md-3.col-md-offset-1
      %h4 LGPL 2.1 License
      %p All dependencies of this project are available under the LGPL or a compatible license.

