%footer.container
  .row-fluid
    .span2.offset1
      %h4 Navigate
      %ul
        %li
          %a{:href => "#", :title => "Learn"} Learn
        %li
          %a{:href => "#", :title => "Get Started"} Get Started
        %li
          %a{:href => "#", :title => "Forums"} Forums
        %li
          %a{:href => "#", :title => "Get Involved"} Get Involved
        %li
          %a{:href => "#", :title => "Download"} Download
    .span2
      %h4 Follow Us
      %ul
        %li
          %a{:href => "#", :title => "Blog"} Blog
        %li
          %a{:href => "#", :title => "Twitter"} Twitter
        %li
          %a{:href => "#", :title => "Google+"} Google+
    .span2
      %h4 Contribute
      %ul
        %li
          %a{:href => "#", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "#", :title => "Write code"} Write Code
        %li
          %a{:href => "#", :title => "Join the team"} Join the team
    .span3.offset1
      %h4 LGPL 2.1 License
      %p All dependencies of this project are available under the LGPL or a compatible license.
      %p
      .jbossbadge
        %a{:href => "http://www.jboss.org/"}
          %img{:src => "/cache/static.jboss.org/theme/images/common/jbossbadge.png"}/
