%footer.container
  .row
    .col-md-5.col-md-offset-1
      %h4 Debezium
      %p
        &#169;
        #{DateTime.now.year} Debezium Community
        %br
        %br
        %i.icon-fire
        Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>, baked by <a href="http://awestruct.org">Awestruct</a>.
        %br
        %i.icon-flag
        Website and docs licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        %br
        %i.icon-flag-alt
        Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
        %br
        %i.icon-file-alt
        %a{:href => "https://www.redhat.com/legal/legal_statement.html", :title => "Terms"} Terms
        |
        %a{:href => "https://www.redhat.com/legal/privacy_statement.html", :title => "Privacy Policy"} Privacy

    .col-md-3
      %h4 Documentation
      %ul.list-unstyled
        %li
          %a{:href => "/docs/features", :title => "Features"} Features
        %li
          %a{:href => "/docs/install", :title => "Install"} Install
        %li
          %a{:href => "/docs/manage", :title => "Manage"} Manage
        %li
          %a{:href => "/docs/architecture", :title => "Architecture"} Architecture
        %li
          %a{:href => "/docs/faq", :title => "FAQ"} FAQ
        %li
          %a{:href => "/docs/contribute", :title => "Contribute"} Contribute

    .col-md-3
      %h4 Connect
      %ul.list-unstyled
        %li
          %a{:href => "/blog", :title => "Blog"} Blog
        %li
          %a{:href => "http://twitter.com/debezium", :title => "Twitter"} Twitter
        %li
          %a{:href => "http://github.com/debezium", :title => "GitHub"} GitHub
        %li
          %a{:href => "https://gitter.im/debezium/dev", :title => "Chat"} Chat
        %li
          %a{:href => "https://groups.google.com/forum/#!forum/debezium", :title => "Google Groups"} Google Groups
        %li
          %a{:href => "http://stackoverflow.com/questions/tagged/debezium", :title => "StackOverflow"} StackOverflow

