%a.btn.btn-primary.btn-block{:class => (defined? page["btnsize"]) ? "#{page["btnsize"]}" : nil}(href="/docs/install/stable/")Latest stable (0.9)
%a.btn.btn-primary.btn-block{:class => (defined? page["btnsize"]) ? "#{page["btnsize"]}" : nil}(href="/docs/install/development/")Development (0.10)
