.div
  %h2 Quickstarts
  %ul.nav.nav-pills.nav-stacked
    %li.active
      %a{:href => "#"}
        %i.icon-fixed-width.icon-download
        Download
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-dashboard
        Features
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-group
        Project Team
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-envelope-alt
        Mailing Lists
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-edit
        Wiki
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-sitemap
        Source Overview
    %li
      %a{:href => "#"}
        %i.icon-fixed-width.icon-road
        Building the Project
%br

.well
  #badges
    %ul
      %li.license-asl
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0"}
          %em Apache License, Version 2.0
      %li.jsr
        %a{:href => "http://jcp.org/en/jsr/detail?id=34"}
          %span.implements JSR
          %span.version 34
      %li.tools
        %a{:href => "http://www.jboss.org/tools"} Supported by Tools
      %li.jopr
        %a{:href => "http://www.jboss.org/jopr"} Managed by RHQ
      %li.arquillian
        %a{:href => "http://www.jboss.org/arquillian"} Tested with Arquillian
    %div{:style => "clear: both; height:1px;"}

.div
  %h3 Supported In:
  %ul.supportedin
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        Application Platform
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        Communications Platform
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        Portal Platform
    %li
      %i.icon-fixed-width.icon-plus
      %a{:href => "#"}
        JBoss Hibernate


%div#coolstuff
  %p.text-center
    %a{:href => "/coolstuff/desktopwallpapers/project"}> Desktop Wallpaper
    &nbsp;|&nbsp;
    %a{:href => "#"} Project Swag
  %a{:href => "/coolstuff/desktopwallpapers/project"}
    %img.img-responsive.center-block{:alt => "Cool Stuff", :height => "110", :src => "http://static.jboss.org/images/infinispan/project_coolstuff_infinispan.png"}/


.well.sponsors
  %h3 Sponsors
  %ul
    %li
      %a{:href => "http://www.ej-technologies.com/"}
        %img.img-responsive.center-block{:alt => "EJ-Technologies", :src => "http://static.jboss.org/common/images/sponsors/ejtechnologies-color.png"}/
      %p EJ-Technologies has kindly provided free JProfiler licenses.
    %li
      %a{:href => "http://www.nexb.com/"}
        %img.img-responsive.center-block{:alt => "NexB", :src => "http://static.jboss.org/common/images/sponsors/nexb-color.png"}/
      %p nexB is our preferred Eclipse development partner.
    %li
      %a{:href => "http://www.jetbrains.com/"}
        %img.img-responsive.center-block{:alt => "JetBrians", :src => "http://static.jboss.org/common/images/sponsors/intellij-color.png"}/
      %p JetBrains has kindly donated an open source IntelliJ license.
    %li
      %a{:href => "http://www.headwaysoftware.com/products/structure101/index.php"}
        %img.img-responsive.center-block{:alt => "Structure 101", :src => "http://static.jboss.org/common/images/sponsors/structure101-color.png"}/
      %p Structure 101 helps us to understand our project structure.
    %li
      %a{:href => "http://www.magicdraw.com/"}
        %img.img-responsive.center-block{:alt => "MagicDraw", :src => "http://static.jboss.org/common/images/sponsors/magicdraw-color.png"}/
      %p A Special thanks to MagicDraw for supporting the project.


%div
  %a{:href => "http://www.jboss.org/security.html"}/
  .projectpage-sprite.projectpage-sprite-securityimage

%div
  %a{:href => "http://www.jboss.org/security.html"}
    %img.img-responsive.center-block{:alt => "Find a security issue with a JBoss Project or Product? Report it now", :height => "110", :src => "http://static.jboss.org/common/images/securityissue.png"}/
