%h2 Right Column
%p small blurb about how we communicate and what the preferences are.
%ul.icons-ul
  %li
    %i.icon-li.icon-ok-sign
    %a Font sizes better
  %li
    %i.icon-li.icon-ok-sign
    %a User Mailing List
  %li
    %i.icon-li.icon-ok-sign
    %a Developer Mailing List
  %li
    %i.icon-li.icon-ok-sign
    %a Forums

%h2 Right Column
%p small blurb about GitHub.
%ul.icons-ul
  %li
    %i.icon-li.icon-chevron-sign-right
    %a GitHub
  %li
    %i.icon-li.icon-chevron-sign-right
    %a Pull Request Process
  %li
    %i.icon-li.icon-chevron-sign-right
    %a Contribution Process

%h2 Right Column
%p small blurb about Jira.
%ul.icons-ul
  %li
    %i.icon-li.icon-play-sign
    %a JIRA Project
  %li
    %i.icon-li.icon-play-sign
    %a Bug scrub process