%h2 Right Column h2
%p small blurb about how we communicate and what the preferences are.
%ul
	%li
		%a IRC
	%li
		%a User Mailing List
	%li
		%a Developer Mailing List
	%li
		%a Forums

%h2 Right Column h2
%p small blurb about GitHub.
%ul
	%li
		%a GitHub
	%li
		%a Pull Request Process
	%li
		%a Contribution Process

%h2 Right Column h2
%p small blurb about Jira.
%ul
	%li
		%a JIRA Project
	%li
		%a Bug scrub process