%h2 Project Name Information
%b Engineering Links
%br
%a{:href => ""} Project Page
%hr
%a{:href => ""} Code Access
%br
%a{:href => ""} Documentation
%br
%a{:href => ""} Jenkins
%br
%a{:href => ""} Jira
%br
%a{:href => ""} Downloads
%hr
%a{:href => ""} LINK
%br
%a{:href => ""} LINK
%br
%a{:href => ""} LINK
%br
%a{:href => ""} LINK
%br
%a{:href => ""} LINK
%br