- series = page.series
- release = series.releases[0]

.col-sm-4
  .series.raised
    .banner
      %h4.series-label
        - if release.stable
          .span.label.label-stable
            stable
        - else
          .span.label.label-development
            development
    .clear
    %h3.version= series.version
    %h6.version-date= release.date
    .description= release.summary.nil? ? series.summary : release.summary
    .more-info
      %a.btn.btn-primary{:href => "/docs/#{series.version}/"}
        More info&nbsp;&nbsp;&nbsp;&nbsp;
        %span.icon-arrow-right
