---
layout: blog
title: Debezium Blog Archive
title_link: /archive/
body_class: blog index
---
- site.posts.each do |post|
  %ul{:class=>'post-list'}
    %li.post
      %span
        - if post.author
          = post.date.strftime('%B %d, %Y') + " by " + lookup_name(post.author);
        - else
          = post.date.strftime('%B %d, %Y');
      %h2{:class=>'post-link'}
        %a{:href=>post.url}= post.title