---
layout: blog
title: Debezium Blog
title_link: /blog/
body_class: blog index
---
- page.posts.each do |post|
  = partial('post.html.haml', :parent => page, :post => post, :include_comments_count => post.equal?(page.posts.last), :summary => true)
  %div{:style => "border-bottom: 1px dashed #ccc; margin-top: 25px; margin-bottom: 15px;"}
%ul.pager
  %li.previous{:class=>('disabled' unless page.posts.next_page)}
    %a{:href=>page.posts.next_page ? page.posts.next_page.url : '#'} &laquo; Older
  %li.pages Page #{page.posts.current_page_index + 1} of #{page.posts.pages.size}
  %li.next{:class=>('disabled' unless page.posts.previous_page)}
    %a{:href=>page.posts.previous_page ? page.posts.previous_page.url : '#'} Newer &raquo;
