
// Start with the standard JBoss Community Bootstrap styles
@import "_bootstrap-community";


@panel-docnav-text:          @gray-dark;
@panel-docnav-text-active:   @link-color;
@panel-docnav-border:        #fff;
@panel-docnav-bg:            #fff;


/* ------------------------- Jumbotron  --------------------- */

.navbar {
  margin-top: @line-height-computed;
}

#error-404 {
  h1 {
    font-size: 7em;
  }
  a {
    font-size: 21px;
  }
  padding: 5% 3%;
  text-align: center;
}

/* ------------------------- Jumbotron  --------------------- */
.jumbotron {
  h2 {
	color: #fff;
  }
  h3 {
	color: #fff;
  }
  h4 {
	color: #fff;
  }
}

/* ----------- Leftcol Document Navigation Layout ------------ */
#leftdocnav {
  margin-top: 15px;
  margin-bottom: 110px;
}

#leftdocnav .panel-group {
  margin-bottom: 0px;
}

.panel-docnav {
  margin-bottom: 0px;
  background-color: @panel-docnav-bg;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  .panel-heading {
    border: 0px;
    padding: 10px 15px;
  }

  .panel-body {
    padding: 0px 15px;
    border: 0px;

    .list-subgroup {
        margin-bottom: -1px;
    }

    .list-group-item {
      padding: 5px 15px;
      border: 0px;
      background-color: @panel-docnav-bg;
      border-top: 0px;
      border-bottom: 0px;
      border-right: 0px;
      border-left: 1px solid @panel-docnav-text-active;
      border-radius: 0px;

      a {
        color: @panel-docnav-text;
      }

      &.active {
        a {
          color: @panel-docnav-text-active;
          font-weight: bold;
        }
      }
    }

    .no-left-border {
      border-left: 1px solid transparent;
    }
  }
}

// Contextual variations
.panel-docnav {
  .panel-variant(@panel-docnav-border; @panel-docnav-text; @panel-docnav-bg; @panel-docnav-border);
}

/* ----------- Code formatting ------------ */

.content .nowrap {
  word-wrap: normal;
  overflow: scroll;
}

/* ----------- AsciiDoctor Admonition blocks ------------- */
/* AsciiDoctor admonition blocks use different icon names, */
/* so we need to map those names to the same content from  */
/* Font Awesome (see stylesheets/_font-awesome/icons.less) */
/* in the 'content' property below                         */

.icon-note:before {
  content: "\f05a";
  color: #19407c;
  font-size: 2.5em;
}
.icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111;
  font-size: 2.5em;
}
.icon-warning:before {
  content: "\f071";
  color: #bf6900;
  font-size: 2.5em;
}
.icon-caution:before {
  content: "\f06d";
  color: #bf3400;
  font-size: 2.5em;
}
.icon-important:before {
  content: "\f06a";
  color: #bf0000;
  font-size: 2.5em;
}


.admonitionblock {
  margin: 10px;
  table {
    tbody {
      tr {
        td {
          padding: .5625em .625em;
          vertical-align: middle;
          margin: 10px;

          &.icon {
            text-align: center;
            width: 80px;
            line-height: 1.6;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            cursor: default;
          }

          &.content {
            padding-left: 1.125em;
            padding-right: 1.25em;
            padding-top: 1.125em;
            border-left: 1px solid #ddd;
          }
        }
      }
    }
  }
}

.well {
  margin-top: 25px;
}


.comments {
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  margin-bottom: 10px;
  height: 0;
  overflow: hidden;
}

.centered-image {
  text-align: center;
  margin: 10px;
  margin-bottom:25px;
  margin-top:25px;
}

img.responsive-image {
  max-width:100%;
}

// ******************************************************
// Anchors near the titles
// ******************************************************

h1, h2, h3, h4, h5, h6 {
  & > a.anchor {
    position: absolute;
    width: 1em;
    margin-left: -0.75em;
    display: block;
    text-decoration: none !important;
    visibility: hidden;
    text-align: center;
    font-weight: normal;
  }
  &:hover > a.anchor {
    visibility: visible;
  }

  & > a.anchor::before {
    content: "\00A7";
    font-size: 0.85em;
    vertical-align: text-top;
    display: inline;
    margin-top: 0.085em;
  }
}

.no-right-padding {
  padding-right: 0;
}

.post-text-padding {
  padding-right: 15px;
  padding-left: 0;
}

.row-no-expand {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.line-through {
  text-decoration: line-through
}

.teaser {
  color:#666666;
  text-align: justify;
  font-weight: 700;
  padding-top: 5px;
  margin-bottom: 20px;
}

.read-more {
	cursor: pointer;
	background: #e0e1e2 none;
	color: rgba(0,0,0,.6);
	font-weight: 700;
	text-align: center;
  border-radius: .28571429rem;
  padding: 8px;
	box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
	user-select: none;
	transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
}

.read-more-div {
  margin-top: 30px
}
/* Documentation Styles */

.doc-pills {
  line-height: 1em;
}

.doc-pills .nav-pills.nav-stacked .item {
  border: 1px solid #ccc;
  border-bottom-width: 0px;
}

.doc-pills .nav-pills.nav-stacked .item:last-child {
  border-bottom-width: 1px;
}

.doc-pills .nav .item {
  margin-top: 0px;
}

.doc-pills .caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  display: inline-block;
  height: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 4px;
}

.doc-pills .item > .icon {
  position: absolute;
  top: 9px;
  right: 9px;
}

.doc-pills li.item > a {
  color: #656565;
}

.doc-pills li.item.active > a {
  background-color: #ddd !important;
  border-radius: 0px;
  color: #336699;
}

.doc-pills .nav-pills.nav-stacked .dropdown-menu {
  line-height: 1em;
}

.doc-pills .nav-pills.nav-stacked .dropdown:hover .dropdown-menu {
  display: block;
}

.doc-pills .nav-pills.nav-stacked > li.item > ul.dropdown-menu {
  left: 99%;
  top: -2px;
}

@media (max-width: 767px) {
  .doc-pills .nav-pills.nav-stacked > li.item > ul.dropdown-menu {
    left: 0;
    top: 100%;
  }

  #leftdocnav {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  #docssubmenu.collapse {
    display: block;
  }
}

.doc-pills .dropdown-menu.nav-pills.nav-stacked .item {
  border: none;
}

.doc-pills .dropdown-menu.nav-pills.nav-stacked .item a {
  padding: 5px 15px;
}

.doc-pills .dropdown-menu.nav-pills.nav-stacked > li a > .version {
  float: left;
}

.doc-pills .dropdown-menu.nav-pills.nav-stacked > li a > .version-label {
  float: right;
  width: 65%;
}

.doc-pills .dropdown-menu.nav-pills.nav-stacked > li a:after {
  content: '';
  display: block;
  clear: both;
}

.label {
  /* correct padding issue noticeable on larger labels */
  padding: .2em .6em .2em;
}

.label-development {
  background-color: #f2711c;
  color: #ffffff;
  border-radius: 0.28rem;
}

.label-stable {
  background-color: #21ba45;
  color: #ffffff;
  border-radius: 0.28rem;
}

.section {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin-top: 5px;
}

.section.full {
  display: block;
}

.raised {
  margin-bottom: 1em;
  position: static;
  top: 0;
  background-color: #fafafa;
  padding: 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.3em;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

.series .series-banner {
  float: right;
  top: 0;
  height: 24px;
  right: -5px;
}

.series .banner .series-label {
  margin: 0px;
}

.series .clear {
  display: block;
  clear: right;
}

.series .version {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.series .version-date {
  display: inline-block;
}

.series .description {
  height: 92px;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .series .description {
    height: 135px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .series .description {
    height: 100px;
  }
}

.release-buttons > .btn-group {
  display: block;
}

.release-buttons > .btn-group > .btn {
  float: none;
  width: 100%;
}

.release-buttons > .btn-group > a {
  text-align: left;
}

.release-buttons > .btn-group > a > span {
  float: right;
  margin-top: 3px;
}

.release-buttons > .btn-group > a > span.caret {
  margin-top: 9px;
  margin-right: 5px;
}

@media (min-width: 1200px) {
  .release-buttons > .btn-group {
    display: inline-block;
  }

  .release-buttons > .btn-group > .btn {
    float: left;
    width: auto;
  }
}

.series .more-info {
  text-align: right;
}

.table.compatibility {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
}

.table.compatibility tr.header {
  background-color: #ddd;
}

.table.compatibility tr.header td {
  border: 1px solid #ccc;
  font-weight: bold;
}

.table.compatibility tr.header td:first-child {
  width: 200px;
}

.table.compatibility tr.data td {
  border: 1px solid #ccc;
}

.series-releases .version {
  margin-top: 5px;
}

.series-releases .version-date {
  margin-top: 0px;
}

#releases-toc {
  width: 100%;
}

#releases-toctitle {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

#releases-toc ul {
  margin-bottom: 5px;
  padding-left: 1.5em;
}

.releases-compatibility {
  border-radius: 2px;
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

.releases-compatibility td {
  padding: 5px;
  border: 1px solid rgba(34, 36, 36, 0.15);
}

.releases-compatibility td:first-child {
  max-width: 35%;
}

.releases-compatibility td:last-child {
  width: 65%;
}

.older-series .show-older {
  display: none;
}

.older-series .hide-older {
  display: block;
}

.older-series.collapsed .show-older {
  display: block;
}

.older-series.collapsed .hide-older {
  display: none;
}

.older-series {
  margin-bottom: 14px;
}

.older-series.collapsed {
  margin-bottom: 0px;
}

.btn-stable {
 background-color: #21ba45;
 font-weight: bold;
}

.btn-stable:hover, .btn-stable:focus {
  background-color: #16ab39;
}

.btn-development {
  background-color: #f2711c;
  font-weight: bold;
}

.btn-development:hover, .btn-development:focus {
  background-color: #f26202;
}

h6.table-note {
  margin-top: -20px;
  padding-top: 0px;
  margin-bottom: 22px;
}

/* Special style handling for medium/large screens */

@media (min-width: 992px) {
  #releases-toc {
    float: right;
    margin-left: 1em;
    width: 30%;
  }

  .releases-compatibility {
    width: auto;
    min-width: 400px;
  }
}

/* ------------------------- Cloud tags  --------------------- */

.cloud-tags {
    .tag-cloud {
        display: inline-block;
        margin: 4px;

        &:first-child {
            margin-top: 0;
        }
    }

    .tag-0 {
        font-size: 0.70em;
        opacity: 0.80;
    }

    .tag-1 {
        font-size: 0.95em;
        opacity: 0.85;
    }

    .tag-2 {
        font-size: 1.10em;
        opacity: 0.9;
    }

    .tag-3 {
        font-size: 1.25em;
        opacity: 0.95;
    }

    .tag-4 {
        font-size: 1.40em;
        opacity: 1;
    }

    .tag-5 {
        font-size: 1.55em;
        line-height: 0.9em;
        opacity: 1;
    }

    .tag-6 {
        font-size: 1.70em;
        line-height: 0.9em;
        opacity: 1;
    }

    .tag-7 {
        font-size: 1.95em;
        opacity: 1;
    }

    .tag-8 {
        font-size: 2.1em;
        opacity: 1;
    }

    .tag-9 {
        font-size: 2.25em;
        opacity: 1;
    }

    .tag-10 {
        font-size: 2.40em;
        opacity: 1;
    }

    .tag-11 {
        font-size: 2.55em;
        opacity: 1;
    }
}

.conum[data-value]{
  display:inline-block;
  color:#fff!important;
  background-color:rgba(0,0,0,.8);
  -webkit-border-radius:100px;
  border-radius:100px;
  text-align:center;
  font-size:.75em;
  width:1.67em;
  height:1.67em;
  line-height:1.67em;
  font-family:"Open Sans","DejaVu Sans",sans-serif;
  font-style:normal;
  font-weight:bold;
  margin-right: 1em;
}
.conum[data-value] *{color:#fff!important}
.conum[data-value]+b{display:none}
.conum[data-value]::after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}

div.colist > table > tbody > tr > td {
  padding-bottom:15px;
}

table.data {
  border-collapse: collapse;
  width: 100%;
}

table.data td, table.data th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.data tr:nth-child(even){background-color: #f2f2f2;}

table.data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #369;
  color: white;
}

span.test-with-subcategory {
  font-size: 13px;
  font-style: italic;
  color: #8f8f8f;
}