/* Use this CSS when rendering a preview in the IDE. */
@import "site.css";
@import "debezium-antora.css";
@import "highlightjs-dark.css";

/* The standard site.css contain `..` in their path that will not work in some browsers when used outside of the target domain.
   Therefore, redefine the fonts without `..` to make them work in an IDE preview. */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"), url(/documentation/debezium-antora/font/roboto-latin-400.woff2) format("woff2"), url(/documentation/debezium-antora/font/roboto-latin-400.woff) format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Italic"), local("Roboto-Italic"), url(/documentation/debezium-antora/font/roboto-latin-400italic.woff2) format("woff2"), url(/documentation/debezium-antora/font/roboto-latin-400italic.woff) format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(/documentation/debezium-antora/font/roboto-latin-500.woff2) format("woff2"), url(/documentation/debezium-antora/font/roboto-latin-500.woff) format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(/documentation/debezium-antora/font/roboto-latin-500italic.woff2) format("woff2"), url(/documentation/debezium-antora/font/roboto-latin-500italic.woff) format("woff")
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"), local("RobotoMono-Regular"), url(/documentation/debezium-antora/font/roboto-mono-latin-400.woff2) format("woff2"), url(/documentation/debezium-antora/font/roboto-mono-latin-400.woff) format("woff")
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Mono Medium"), local("RobotoMono-Medium"), url(/documentation/debezium-antora/font/roboto-mono-latin-500.woff2) format("woff2"), url(/documentation/debezium-antora/font/roboto-mono-latin-500.woff) format("woff")
}

/* adjust the padding as there is no menu bar in the preview */
body {
    padding-top: 0
}
