---
layout: base
---

<div class="row post-text-padding row-no-expand">
  <!-- Sidebar -->
  <div class="col-md-3">{% include blog-menu.html %}</div>
  <div class="col-md-9">
    {% for post in site.posts %}
     {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentyear != year %}
        <h2>{{ currentyear }}</h2>
        {% capture year %}{{currentyear}}{% endcapture %} 
      {% endif %}
        {% assign thisyear = post.date | date: "%B %Y" %}
        {% assign prevyear = post.previous.date | date: "%B %Y" %}
        {% assign counter = counter | plus: 1 %}
        {% if thisyear != prevyear %}
            <div style="margin-left: 20px;">
                <h4 class="archive">
                <a>{{ thisyear | date: "%B"}}</a> <i class="fa fa-cube"></i> {{counter }}
                </h4>

                <ul>
                {% assign fli = forloop.index | minus: counter %}
                {% for post2 in site.posts limit: counter offset: fli %}
                    <li>
                        <a href="{{ post2.url }}">{{ post2.title }}</a>
                        <time> &mdash; {{ post2.date | date: "%a %e-%b-%Y"}}</time>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% assign counter = 0 %} 
        {% endif %} 
    {% endfor %}
  </div>
</div>
