---
layout: project
---

#equalHeightsLayout
  #leftdocnav.col-sm-3
    = partial( 'leftcol-blog.html.haml' )
  #maincol.col-sm-9
    .row
      .col-md-8.col-md-offset-2
        .text-right
          %h3 
            Subscribe
            %a.rss{:href => "/blog.atom"}
              %i.icon-rss
        %hr
        ~ content

-#
-#.row
-#  .col-sm-3.well
-#    = partial( page.leftcol_partial.nil? ? 'leftcol-blog.html.haml' : page.leftcol_partial  , { "real_page" => page } )
-#
-#  .col-sm-9
-#    ~ content
