---
layout: project
---

.row
  .col-md-8.col-md-offset-2
    .text-right
      %h3 
        Subscribe
        %a.rss{:href => "#{site.base_url}/blog.atom"}
          %i.icon-rss
    %hr
    ~ content

-#
-#.row
-#  .col-sm-3.well
-#    = partial( page.leftcol_partial.nil? ? 'leftcol-blog.html.haml' : page.leftcol_partial  , { "real_page" => page } )
-#
-#  .col-sm-9
-#    ~ content
