---
layout: project
---

#equalHeightsLayout
  #leftdocnav.hidden-xs.col-sm-3
    = partial( 'leftcol-blog.html.haml' )
  #maincol.col-xs-12.col-sm-9
    .row
      .text-right
        %h3 
          Subscribe
          %a.rss{:href => "/blog.atom"}
            %i.icon-rss
      %hr
      ~ content

-#
-#.row
-#  .col-sm-3.well
-#    = partial( page.leftcol_partial.nil? ? 'leftcol-blog.html.haml' : page.leftcol_partial  , { "real_page" => page } )
-#
-#  .col-sm-9
-#    ~ content
