---
layout: project
---

.container-fluid
  .row-fluid
    #leftcol.span2
      = partial( page.leftcol_partial.nil? ? 'leftcol.html.haml' : page.leftcol_partial )

    #maincol.span8
      ~ content

    #rightcol.span2
      = partial( page.rightcol_partial.nil? ? 'rightcol.html.haml' : page.rightcol_partial )