---
layout: project
---
#equalHeightsLayout
  #leftcol.col-sm-3.well
    = partial( page.leftcol_partial.nil? ? 'leftcol.html.haml' : page.leftcol_partial , { "real_page" => page } )

  #maincol.col-sm-6
    ~ content

  #rightcol.col-sm-3.well
    = partial( page.rightcol_partial.nil? ? 'rightcol.html.haml' : page.rightcol_partial  , { "real_page" => page } )