---
layout: project
---

#equalHeightsLayout
  #leftdocnav.col-sm-3
    = partial( page.leftcol_partial.nil? ? 'leftcol-doc.html.haml' : page.leftcol_partial  , { "real_page" => page } )

  #maincol.col-sm-9
    %h1.title
      = page.title
    ~ content
