---
layout: project
---

#equalHeightsLayout
  #leftcol.col-sm-3.well
    = partial( page.leftcol_partial.nil? ? 'leftcol.html.haml' : page.leftcol_partial  , { "real_page" => page } )

  #maincol.col-sm-9
    ~ content
