---
layout: project
---

.container-fluid
  .row-fluid#equalHeightsLayout
    #leftcol.span3
      = partial( page.leftcol_partial.nil? ? 'leftcol.html.haml' : page.leftcol_partial )

    #maincol.span9
      ~ content
