---
layout: project
---

.row-fluid
  #equalHeightsLayout
    #leftcol.span3.well
      = partial( page.leftcol_partial.nil? ? 'leftcol.html.haml' : page.leftcol_partial )

    #maincol.span9
      ~ content
