---
layout: subproject
---

= partial( page.jumbotron_partial.nil? ? 'jumbotron.html.haml' : page.jumbotron_partial , { "real_page" => page } )

.row
  #equalHeightsLayout
    /#leftcol.col0-md-3.well
    /  = partial( page.leftcol_partial.nil? ? 'leftcol.html.haml' : page.leftcol_partial  , { "real_page" => page } )

    #maincol.col-sm-12
      ~ content
