<!DOCTYPE html>
<html>
  {% assign theLastVersion = site.data.versions.versions.last %}
  {% for version in site.data.versions.versions %}
    {% assign formatedVersion = version | replace: ".", "" %} 
    {% assign releaseDetails = site.data.releases[formatedVersion] %} 
    {% if releaseDetails.series.displayed %}
    {%- assign sortedReleaseDetails = releaseDetails | sort -%}
    {%- assign lastIndex = sortedReleaseDetails.size | minus: 2 -%}
    {% assign formattedLastVersion = sortedReleaseDetails[lastIndex][0] %}
      {% assign latestRelease = releaseDetails[formattedLastVersion] %}
        {% if latestRelease.stable %}
          {% assign latestStableVersion = version %}
        {% endif %}
    {% endif %} 
  {% endfor%}
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    {% assign redir_url = page.redir_to | replace: "!LATEST_STABLE_VERSION!", latestStableVersion |  replace: "!LATEST_VERSION!", theLastVersion %}
    <link rel="canonical" href="{{ redir_url }}"/>
    <meta http-equiv="refresh" content="0;url={{ redir_url }}" />
  </head>

  <body>
    <h1>Redirecting...</h1>
    <a href="{{ redir_url }}">Click here if you are not redirected.<a>
    <script>location="{{ redir_url }}"</script>
  </body>

</html>