---
layout: base
---

<div class="row post-text-padding row-no-expand">
  <!-- Sidebar -->
  <div class="col-md-3">{% include menu.html %}</div>
  <div class="col-md-9">
    {% include breadcrumb.html %}
    <div
      style="
        padding-bottom: 2px;
        border-bottom: 1px solid rgb(204, 204, 204);
        margin-bottom: 11px;
        display: table;
        width: 100%;
      "
    >
      <div style="display: table-cell; width: 30%">
        <span
          class="hidden-sm hidden-xs"
          style="font-size: 39px; line-height: 1; white-space: nowrap"
        >
          {{ page.title}}
        </span>
        <span
          class="hidden-md hidden-lg"
          style="font-size: 39px; line-height: 1; white-space: nowrap"
        >
          Release {{ page.debezium-version}}
        </span>
      </div>
      <div
        style="
          display: table-cell;
          width: 70%;
          vertical-align: middle;
          text-align: right;
        "
      >
        <h4 style="margin: 0px; padding: 0px">
          <span class="label label-stable"> stable </span>
        </h4>
      </div>
    </div>
    {% include release-version.html %}
  </div>
</div>
