---
layout: project
---

.row-fluid
  #equalHeightsLayout
    #maincol.span9
      ~ content

    #rightcol.span3.well
      = partial( page.rightcol_partial.nil? ? 'rightcol.html.haml' : page.rightcol_partial )