---
layout: project
---

#equalHeightsLayout
  #maincol.col-sm-9
    ~ content

  #rightcol.col-sm-3.well
    = partial( page.rightcol_partial.nil? ? 'rightcol.html.haml' : page.rightcol_partial  , { "real_page" => page } )