---
layout: base
---
<div class="row post-text-padding row-no-expand">
  <div class="col-md-3">{% include blog-menu.html %}</div>
  <div class="col-md-9">
    <h1 class="section full">Debezium Blog</h1>
    <div class="component-wrapper">
      <div class="grid__item width-10-12 width-12-12-m">
        {% for post in site.posts %}
        {% if post.tags contains page.tag %}
          <div class="blog-list-item grid-wrapper">
            {% assign author = site.data.authors[post.author] %}
            <div class="row" style="margin-left: 0; margin-right: 0; margin-bottom: 10px;"> 
              <div class="col-sm-12" style="padding-left: 0px;"> 
                <div style="display: table-cell; vertical-align: top;"> 
                  <div style="width: 72px; border: 1px solid #ccc; padding: 3px; display: inline-block;">
                    {% if author.avatar %} 
                    <img src="/assets/images/{{ author.avatar}}" style="width: 64px;"> 
                    {% else %}
                    <img src="/assets/images/color_debezium_64px.png" style="width: 64px;"> 
                    {% endif %}
                  </div> </div> <div style="display: table-cell; vertical-align: top;"> 
                    <div style="margin-left: 8px;"> 
                      <span class="hidden-sm hidden-xs" style="font-size: 2.75rem; line-height: 1;"> 
                        <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> 
                      </span> <span class="hidden-md hidden-lg" style="font-size: 2rem; line-height: 1;"> 
                        <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> 
                      </span> <div class="byline" style="line-height: 1;"> 
                        <em> {{ post.date | date: "%B %-d, %Y"}} by {{ author.name }} </em> 
                        <div class="hidden-xs" style="margin-top: 5px;"> 
                          {% for tag in post.tags %}
                            <a class="label label-info hidden-sm hidden-xs" href="/tag/{{ tag }}/">{{ tag }}</a> 
                          {% endfor %}
                        </div> 
                      </div> 
                    </div> 
                  </div> 
                </div> 
              </div>
            <div class="grid__item width-12-12">
              {% if post.content contains "<!-- more -->" %}
                <p>{{ post.excerpt }}</p>
              {% else %}
                <p>{{ post.content | strip_html | truncatewords: 75 }}</p>
              {% endif %}
            </div>
            <div class="read-more-div"> 
              <a class="read-more" href="{{site.baseurl}}{{ post.url }}"> Read More&nbsp;&nbsp;&nbsp;&nbsp; 
                <span class="icon-arrow-right"></span> 
              </a> 
            </div>
          </div>
          <div style="border-bottom: 1px dashed #ccc; margin-top: 25px; margin-bottom: 15px;"></div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>