---
layout: doc
title: Debezium Documentation
title_link: /docs/
---

%p
  Debezium is a set of distributed services to capture changes in your databases so that your applications and see those changes and respond to them. Debezium records all row-level changes within each database table in a transaction log, and each applications simply reads these logs to see the same events in the same order in which they occurred.
%p
  Documentation for Debezium can be found in the expandable table of contents in the left hand column, but we recommend starting with our 
  %a{:href=>"/docs/tutorial"} tutorial
  \.

%br
%i.enormous-icon.icon-book.circled.pull-center
%br