---
layout: doc
title: Documentation
title_link: /docs/
---

%p
  Debezium is a set of distributed services to capture changes in your databases so that your applications and see those changes and respond to them. 
  Debezium records all row-level changes within each database table in a 
  %i
    change event stream
  \, and applications simply read these streams to see the change events in the same order in which they occurred.
%p
  Use the links at the left to find the documentation for Debezium, including the various Debezium 
  %a{:href=>"/docs/connectors"} connectors
  \. If you're trying to get your head around what Debezium is or how it works, we recomment starting with our
  %strong
    %a{:href=>"/docs/tutorial"} tutorial
  and
  %strong
    %a{:href => "/blog/2017/11/11/debezium-on-devoxx-belgium"} a video talk
  \.

%br
%i.enormous-icon.icon-book.circled.pull-center
%br
