---
layout: doc
title: Documentation
title_link: /docs/
---

%p
  Debezium is a set of distributed services to capture changes in your databases so that your applications and see those changes and respond to them. Debezium records all row-level changes within each database table in a transaction log, and each applications simply reads these logs to see the same events in the same order in which they occurred.
%p
  Use the links at the left to find the documentation for Debezium. We recomment starting with our
  %strong
    %a{:href=>"/docs/tutorial"} tutorial
  \.

%br
%i.enormous-icon.icon-book.circled.pull-center
%br