<div class="version-banner version-banner-development">
    You are viewing documentation for the current development version of Debezium.
    <br/>
    If you want to view the latest stable version of this page, please go <a href="{{{relativize page.versions.1.url}}}">here</a>.
</div>