<div class="version-banner version-banner-development">
    You are viewing documentation for the Nightly version of Debezium.
    <br/>
    {{#each page.versions}}
        {{#if (eq @root.page.attributes.version-current ./displayVersion)}}
            If you want to view the latest stable version of this page, please go <a href={{@root.page.attributes.doc-stable-url}}>here</a>.
            {{break}}
        {{/if}}
    {{/each}}
</div>