<div class="version-banner version-banner-outdated">
    You are viewing documentation for an outdated version of Debezium.
    <br/>
    {{#each page.versions}}
        {{#if (eq @root.page.attributes.version-current ./displayVersion)}}
            If you want to view the latest stable version of this page, please go <a href="{{{relativize ./url}}}">here</a>.
            {{break}}
        {{/if}}
    {{/each}}
</div>