<main role="main" class="main">
  {{> toolbar}}
  {{> article}}
  <footer class="footer">
    <div class="wrapper">
      <div class="copyright">Copyright &copy; {{page.attributes.copyright-year}} Debezium Community (Rev: <span class="truncated"><a href="https://github.com/debezium/debezium/commit/{{page.attributes.build-commit-hash}}">{{page.attributes.build-commit-hash}}</a></span>)
      </div>
    </div>
  </footer>
</main>