<main role="main" class="main">
{{> toolbar}}
{{> article}}
    <footer class="footer">
        <div class="wrapper">
            <div class="copyright">Copyright &copy; 2020 Debezium Community</div>
        </div>
    </footer>
</main>
