<main role="main" class="main">
{{> toolbar}}
{{> article}}
    <footer class="footer">
        <div class="wrapper">
            <div class="copyright">Copyright &copy; {{page.attributes.copyright-year}} Debezium Community (Rev: <a href="https://github.com/debezium/debezium/commit/{{page.attributes.origin-refhash}}">{{page.attributes.origin-refhash}}</a>)</div>
        </div>
    </footer>
</main>
