{{#if page.versions}}
    <div class="page-versions-container">
    Version:
    <div class="page-versions">
        <button class="version-menu-toggle versions-menu-current" title="Show other versions of page">{{page.componentVersion.displayVersion}}</button>
        <!--<button class="version-menu-toggle versions-menu-select" title="Select other versions">Select</button>-->
        <div class="version-menu">
            {{#each page.versions}}
                <a class="version
      {{~#if (eq ./version @root.page.version)}} is-current{{/if~}}
                    {{~#if ./missing}} is-missing{{/if}}" href="{{{relativize ./url}}}">{{./displayVersion}}</a>
            {{/each}}
        </div>
        |
    </div>
    </div>
{{/if}}