---
layout: doc
title: Configuration
title_link: /docs/configuration
---

%p
  This section provides information about configuring the Kafka Connect workers used with Debezium connectors.
  %ul
    %li
      %a{:href => "/docs/configuration/logging", :title => "Logging Configuration"} Logging Configuration
    %li
      %a{:href => "/docs/configuration/avro", :title => "Avro Configuration"} Avro Serialization
    %li
      %a{:href => "/docs/configuration/topic-routing", :title => "Topic Routing"} Topic Routing
    %li
      %a{:href => "/docs/configuration/event-flattening", :title => "CDC Event Flattening"} CDC Event Flattening
    %li
      %a{:href => "/docs/configuration/mongo-event-flattening", :title => "Mongo CDC Event Flattening"} Mongo CDC Event Flattening
      
