name: Build and deploy to GitHub Pages (Staging)

on:
  push:
    branches:
      - staging
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker run --privileged -i --rm -p 4000:4000 -e LC_ALL=C.UTF-8 -e LANG=C.UTF-8 -v $(pwd):/site debezium/website-builder bash -c "rake clean build[staging]"

      # Use GitHub Actions' cache to shorten build times and decrease load on servers
      - uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_STAGING_DEPLOY_KEY}}
          publish_dir: ./_site
          publish_branch: staging_publish
          external_repository: debezium-builder/debezium-builder.github.io
